[2019-09-14 20:21] feross opened #1416 "Disallow spaces inside of computed keys of class methods, getters and setters (computed-property-spacing)"
https://eslint.org/docs/rules/computed-property-spacing

Current rule:

[code]

Proposed rule:

[code]

By default, this rule does not check class declarations and class expressions,
as the default value for `enforceForClassMembers` is `false`.

When `enforceForClassMembers` is set to `true`, the rule will also disallow/enforce spaces inside of computed keys of class methods, getters and setters.

[2019-09-14 21:07] ThisIsManta commented on #1283
Refer to [_Can I use a JavaScript language variant, like Flow or TypeScript?_](https://standardjs.com/index.html#typescript), I don't see `"extends": ["plugin:@typescript-eslint/recommended"]`. How do the rules offered by `@typescript-eslint/eslint-plugin` work? As far as I know, Standard does not allow us to specify `rules` or `extends` field, right?

I'm asking the above questions because I beli

[2019-09-15 01:17] ahimta commented on #1283
I think this issue is very important because It affects almost all Typescript users and requires configuration changes :sweat_smile:.

I understand that `standard` is mostly focused on pure Javascript and its ESLint & `standardx` siblings are intended to be more flexible and handle some edge-cases like this.

Let's assume only a dozen of developers are affected by this and spent 15 minutes (focuse

[2019-09-15 08:00] mightyiam commented on #1412
I'm pro this rule. Disallows code that should probably never be written.

Regarding the limitation: it seems like with TypeScript that would be possible to prevent as well.

[2019-09-15 18:34] mightyiam commented on #1413
Rule description makes sense. I have very small experience with regular expressions, though. Can we confirm that we have at least 20 regular expressions in our sample user repositories collection?

[2019-09-15 18:38] mightyiam commented on #1414
Would be nice to confirm that our tested-against users have some default parameters.

[2019-09-15 19:00] mightyiam commented on #1415
I can think of at least one legit use case of using setters without getters. For example, in a test, where you pass a test object into some API that mutates it by assigning to its properties. If what you cared about is the order and perhaps timing of the mutations, then you could use setters to receive the values and make the assertions on that. You would not read from those properties, so there's

[2019-09-15 19:04] mightyiam commented on #1416
All in, of course. BTW, this is another example where ESLint is getting closer to the level of prettier. I know it's quite far and has a long way to go in that regard, but still... personally, for me, it's close enough. And since it keeps getting better (if the available rules are used) then I'm happy with it.

[2019-09-17 02:34] linxuyalun commented on #1165
I solved the problem with two steps

First, install babel-eslint

[code]

Second, add these two lines on my `package.json`

[code]

[2019-09-17 08:44] jandppw commented on #1007
We are jumping on this bandwagon. Is there anything we can do to make it progress?

[2019-09-17 15:19] razor-x commented on #1144
I think `'implicit-arrow-linebreak': ['error', 'beside']` is important to add IMO. This fixes big standardization conflicts on my projects. When code uses the below linebrake style it essentially adds an extra level of indentation for every higher order function when compared with functions that use the below style.

(Standardizing on the `below` option instead would also normalize the indentation

[2019-09-18 00:49] greenkeeper[bot] opened #1419 "An in-range update of standard-packages is breaking the build 🚨"
## The devDependency [standard-packages](https://github.com/standard/standard-packages) was updated from `3.7.0` to `3.8.0`.

🚨 [View failing branch](https://github.com/standard/standard/compare/master...standard:greenkeeper%2Fstandard-packages-3.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

standard-packages is a

[2019-09-18 01:04] feross commented on #1419
Fixed in standard-packages 3.8.1

[2019-09-18 01:04] #1419 closed

[2019-09-18 08:57] toddbluhm commented on #1283
Just wanted to put this package out there [`ts-standard`](https://github.com/toddbluhm/ts-standard) for anyone wanting to try it out. Its relatively new and I am not sure if this resolves all the issues perfectly, but it uses the `eslint-config-standard-with-typescript` rules and the `standard-engine` package under the hood with minimal required configuration. This is just another option to native

[2019-09-18 08:58] mightyiam commented on #1144
If the body-less arrow function is short enough to be a one-liner, it seems to me that it should be a one-liner:

[code]

And there's no point in breaking like so:

[code]

But for a longer body-less arrow function, which we would break at least once, I would prefer `below`:

[code]

And I don't like how `beside` looks like in that case:

[code]

What I just described does not seem to be supported

[2019-09-18 13:42] razor-x commented on #1144
I agree. Note that you can still get close to you last example with beside using

[code]

[2019-09-18 14:10] mightyiam commented on #1144
@razor-x that might even be more clear... Would anyone else like to provide input?

[2019-09-18 21:17] christianbundy opened #1420 "How can STatandardJS and ESLint work side-by-side?"
**What version of this package are you using?**

14.3.1

**What problem do you want to solve?**

When setting up my editor (vim) I'm forced to choose between using Standard and using ESLint. I'd love to be able to use both side-by-side. Any thoughts on the best way to do this?

If I use the config from the readme then repos that use ESLint don't get linting. If I use ESLint, then StandardJS repos

[2019-09-19 14:45] christianbundy commented on #1420
I had a weird idea about this while falling asleep last night.

Maybe it'd be worthwhile to have a tool that acts as a switch between `standard` and `eslint` depending on the current working directory? I don't think it would be very difficult to write some rules to determine whether a given project is using StandardJS or plain ESLint, especially if we can check:

- `package.json`
  - `.devDependen

[2019-09-19 17:48] christianbundy commented on #1420
I got carried away and accidentally made a proof of concept: https://github.com/fraction/common-lint

I've tried integrating with Ale but it's only working on StandardJS repos, not ESLint repos.

[2019-09-19 22:58] mightyiam commented on #1420
An ESLint editor plugin should spring into action when an ESLint configuration file is detected or when the plugin is explicitly enabled.

A StandardJS Editor plugin should spring into action when the standard package is locally installed. That's just my opinion.

If the two points above are correct, then I don't see a problem. But you're experiencing a problem. So I am assuming that at least one

[2019-09-20 00:22] christianbundy commented on #1420
Thanks for the thoughtful comment. I'll try to add some more context and be a bit more explicit about the behavior that I'm looking for.

I'd like to be able to use the same linter in every repository, similar to how we use the same text editor in every repository. I'd also like for my text editor to automatically use the linter recommended by the repository I'm editing.

- When I'm editing code t

[2019-09-21 15:46] mightyiam commented on #1420
I'm not sure that this would be the best way to determine. My suggestion is whether `standard` is locally installed or not. And regarding ESLint, whether one of the default configuration files exists.

A later of abstraction seems redundant to me, in the optimal case where each editor plugin can sensibly figure out whether it should act or not. This way, the various editor plugins do not need to b

[2019-09-24 14:46] Alexsey opened #1421 "Allow flatTernaryExpressions option of indent rule"
**What version of this package are you using?** eslint-config-standard v14.1.0

**What problem do you want to solve?** Because switch/case in JavaScript is broken and while [pattern matching in only a proposal](https://github.com/tc39/proposal-pattern-matching) code pattern under `flatTernaryExpressions` is one of a few ways to express long but trivial if/else chains in a clear way:
[code]

**What

[2019-09-24 19:21] substack commented on #1324
learned this tip from @goto-bus-stop. I don't know when they'll turn off this work-around but for now you can use an old version of npm:

[code]

[2019-09-25 04:48] mightyiam opened #1422 "@getify/eslint-plugin-proper-ternary"
How about adding https://github.com/getify/eslint-plugin-proper-ternary?

Perhaps we could use it and make some decisions?

[2019-09-25 04:57] mightyiam commented on #1421
Rather than relaxing the rule, I would prefer defining it better. But there doesn't seem to be an ESLint rule for indentation of ternary expressions other than the little `indent` has to offer.

@Alexsey just a suggestion here. Perhaps you'd like to contribute a whitespace (or at least indentation) rule to https://github.com/getify/eslint-plugin-proper-ternary/issues/4 ? The maintainer labelled it

[2019-09-25 18:57] Alexsey commented on #1421
@mightyiam sorry, I have no experience with AST, so this task is probably not for me. But why do you think that relaxing the rule is not what we need here?
IMHO perfect would be to allow
[code]
but this is not something that [https://github.com/getify/eslint-plugin-proper-ternary](https://github.com/getify/eslint-plugin-proper-ternary) can handle either. So relaxing the rule is the best we can hav

[2019-09-26 02:38] mightyiam opened #1424 "Enforce conditional expression styles"
The conditional expression can use some decisions regarding where lines are broken and where indentation is placed, I feel. For example, the following different styles are currently possible:

[code]

This, as well:
[code]

The way I see it, we already allow too many different styles. Ideally, according to the mission of StandardJS, we'd decide on a certain style and enforce it.

Ternary expressio

[2019-09-26 02:42] mightyiam commented on #1421
I'm not sure, @Alexsey.

Please see #1424.

If it is observed that the style that you requested to be able to use is the chosen style for that logic, then, relaxing might be the correct thing to do, until we have the rules available to enforce our chosen styles.

Yet, for the sake of making one developer happy, I would not mind this rule being relaxed in the way you asked, as well, @Alexsey. As lo

[2019-09-27 11:24] Alexsey commented on #1424
Both provided examples looks good depends on parts length: use first when `condition` and `then` are short and use second if `condition` and `then` are long so you want to split them in to separate lines, so it would be easier to read. The same logic as for any other binary operator e.g. `||`:
[code]
[code]

[2019-09-27 17:21] orpheus commented on #1276
what about for Webstorm, how do I configure standardjs to use `eslint-plugin-react-hooks`?
Do I need to install `eslint` or have an `.eslintrc` file?

currently I just added react-hooks to my standard config in package.json with nothing happening:

[code]

[2019-09-28 20:50] dbolton opened #1426 "Unnecessary escape character false possitive"
**What version of this package are you using?**
npx standard
also the linter-js-standard plugin for Atom

**What operating system, Node.js, and npm version?**
Windows 10
Node 10.16.3
npm 6.9.0

**What happened?**
The code `var test = /[\]\[]/` produces two errors:
Unnecessary escape character: \\[.
Unnecessary escape character: \\].

**What did you expect to happen?**
There should be no error mess

[2019-09-29 08:33] mightyiam commented on #1276
@orpheus, adding a plugin usually does not add the rules provided by that plugin to your list of rules that participate in linting.

Currently, customizing or adding rules in Standard is not supported. Please see #1356 and my proposal #703.

If these rules are important to you, you could quite easily replace `standard` with `eslint` and the `eslint-config-standard` package.
https://www.npmjs.com/p

[2019-09-29 09:45] mightyiam commented on #1426
@dbolton thank you for your report. Under the hood, Standard uses ESLint. And this seems like the following rule:
https://eslint.org/docs/rules/no-useless-escape

Could you please [report this upstream](https://eslint.org/docs/developer-guide/contributing/reporting-bugs)? By the way, I don't know regular expressions well, so I did not confirm that this is a bug indeed.

[2019-09-29 21:56] #1426 closed

[2019-09-30 02:04] mightyiam commented on #1426
Thank you for following through, @dbolton.

[2019-09-30 17:12] gjovanov opened #1428 "async and get always end up as asyncget during onSave lint using StandardJS"
**What version of this package are you using?**
"standard": "^14.3.1",

**What operating system, Node.js, and npm version?**
Win10, Node v12.2.0, npm v6.9.0

**What happened?**

Within VSCode, which has configured onSave to lint using StandardJS based on package.json (non-global), for the code below it always concatenates `async` and `get` as `asyncget`

[code]
turns into:
[code]

This only happen

[2019-09-30 18:51] feross opened #1429 "Disallow `case NaN`, `switch(NaN)`, `indexOf(NaN)`, and `lastIndexOf(NaN)` (use-isnan)"
https://eslint.org/docs/rules/use-isnan

This is a proposal to modify the `use-isnan` rule.

Current rule setting:

[code]

Proposed rule setting:

[code]

The `switch` statement internally uses the `===` comparison to match the expression's value to a case clause.
Therefore, it can never match _`case NaN`. Also, `switch(NaN)`_ can never match a case clause.

Set `"enforceForSwitchCase"` to `true`

[2019-10-01 03:00] mightyiam commented on #1428
@gjovanov thank you for the report.

Could you please check something for me?

I'd like to ask you to try and see whether `standard --fix` results in the same malformed code.

[2019-10-01 04:45] feross commented on #1428
Another thing for us to test: does updating to the latest eslint (within `standard`) fix the issue?

[2019-10-01 08:16] gjovanov commented on #1428
Hi @mightyiam and @feross ,
`standard --fix` doesn't produce this issue.

eslint was already to it latest version.

Here is the .eslintrc.js file:
[code]

Here is the VS workspace config I'm using (wspace.conde-workspace):
[code]

And here are the package.json versions:
[code]

Maybe you see something that I'm doing wrong?

Thanks.

[2019-10-01 16:38] mightyiam commented on #1428
@gjovanov thank you for the input. Could you please try to run `npx eslint --fix that-file.js` on a file that has that `async get` that gets wrongly autofixed in VSCode? I'd like to know whether the wrong auto-fix would be applied. If it did get applied, could you try again after having removed `'standard'` from the `extends` of the ESLint config?

[2019-10-02 15:10] gjovanov commented on #1428
Hey everyone, I tried that but it didn't produce reported issue. This made me suspect that the issue is not related to StandardJS/ESLint.

Basically, I had many VSCode extensions installed (with formatting options) and started to clean them up one by one. And disabled default JS/TS formatter

At the end, it seems that when I removed ESList extension, the issue wasn't happening, but neither formatt

[2019-10-02 15:10] #1428 closed

[2019-10-02 18:57] christianbundy opened #1431 "max-statements-per-line: 2"
**What version of this package are you using?** 14.3.1

**What problem do you want to solve?** I'd like to limit the number of statements per line.

**What do you think is the correct solution to this problem?**

[code]

Previously a maximum of one statement per line was suggested as https://github.com/standard/standard/issues/798, but this is very aggressive. Instead, I'd like to propose a maximu

[2019-10-03 03:47] mightyiam commented on #1428
Thank you for following through, @gjovanov.

[2019-10-03 04:50] mightyiam commented on #1431
Thank you for the idea, @christianbundy.

I do use 2 statements per line quite often, such as `if (foo) return`. I do not remember when's the last time I have used 3 statements in one line.

What anti-pattern are we trying to prevent with this? Here are examples from the [rule docs](https://eslint.org/docs/rules/max-statements-per-line):

[code]

I never do any of those.

[2019-10-04 16:03] christianbundy commented on #1431
Yep, exactly. I was looking at some non-StandardJS code and saw `if (a) { b()  } else { c() }` and realized that `eslint:recommended` reported this an an error. When I noticed that we didn't report this for this I figured I should open an issue, but saw the old issue and decided that we should probably allow two statements per line to keep the ecosystem impact small.

[2019-10-04 16:09] mightyiam commented on #1431
While I don't make final calls here, I assume that this would be accepted. Therefore if you'd like to contribute further, I suggest a pull request could be a good next step.

[2019-10-05 16:17] ArmorDarks commented on #838
And what about this case?

[code]

It seems to be legit, but it's forbidden by the rule.

[2019-10-05 18:03] ahimta commented on #1283
Just made a [PR](https://github.com/standard/standard/pull/1434) with a working Typescript setup in the readme and hope it can close this issue:sweat_smile:.

[2019-10-06 02:08] mightyiam commented on #838
@ArmorDarks as you know, Standard's preferred quotes are single quotes. Allowing double quotes when the string contains single quotes is one thing. Because single and double quotes are equal in all ways, as far as I know. Since backticks are a different language feature (inline expression and tags), allowing them in order to avoid escape characters is a different consideration.

[2019-10-06 18:06] feross commented on #1431
Pull request is not necessary. I'll take a closer look at this when I have time to do another StandardJS release and I can PR it.

[2019-10-07 08:45] ArmorDarks commented on #1283
Thanks! But, well, if we plan to go `standardx`-way, there are few issues at stake:

1. https://github.com/standard/vscode-standardjs/pull/71 has been merged, but not released. That means VS Code users won't be able to use it at all. I believe other popular editors might be affected by the same issue.
2. Even if `standard.engine` option will be released, it still requires additional configuration.

[2019-10-07 15:23] LinusU opened #1436 "'BigInt' is not defined."
**What version of this package are you using?**

`14.3.1`

**What operating system, Node.js, and npm version?**

macOS 10.14.6
Node.js 12.10.0
npm 6.11.3

**What happened?**

I had the following code:

[code]

Got the following error:

[code]

This was mentioned as fixed in 14.1.0 here: https://github.com/standard/standard/issues/1378#issuecomment-526394449

**What did you expect to happen?**

No

[2019-10-07 20:18] LinusU opened #1437 ""Unexpected template string expression" vs. "Strings must use singlequote""
**What version of this package are you using?**

14.3.1

**What operating system, Node.js, and npm version?**

macOS 10.14.6
Node.js 12.10.0
npm 6.11.3

**What happened?**

I had this code:

[code]

When upgrading to the latest standard, it now tells me to use single quotes:

[code]

But this now triggers the error "Unexpected template string expression".

I'm not sure how to get a string with `${

[2019-10-08 12:06] zhangyuang opened #1438 "standard will timeout and stack trace when node_modules have too many files"
**What version of this package are you using?**
12.0.1
**What operating system, Node.js, and npm version?**
node v10.6.0
**What happened?**
my folder have many child folders, and have many node_modules, when i run standard,after a while, it timeout and track trace although it not test node_modules。 when i delete all node_modules, it can be normal
**What did you expect to happen?**
don't timeout
**

[2019-10-08 18:27] christianbundy commented on #1431
Thanks, please let me know if there's anything I can do to help out.

[2019-10-10 09:47] #1438 closed

[2019-10-11 14:11] mightyiam commented on #1437
@LinusU while in theory there might be an edge case issue bug here, I'd like to suggest that if we see some (properly sanitized) code snippets of yours, we might be able to provide meaningful suggestions.

[2019-10-13 16:09] SebastianG77 commented on #1437
Hi,

I also ran into the same problem and used the following workaround to solve it:

`` const foo = `${''}\${package.version}` ``

However, this of course does not look like good practice. So I also hope this bug will be fixed soon.

[2019-10-14 11:23] SherloxFR commented on #1283
For Typescript I find it better to use TSLint with the [tslint-config-standard](https://github.com/blakeembrey/tslint-config-standard) plugin.

It's really easy to setup:
[code]
Create a `tslint.json` file with the following content:
[code]
Then you can just call `tslint` from your CLI / `package.json` scripts to validate the syntax.

For the VSCode support be careful to use `TSLint (deprecated)`

[2019-10-14 12:27] marcospgp opened #1439 "Failed to load plugin 'import' declared in '--config » eslint-config-standard': Cannot find module 'eslint'"
Should I install eslint? Couldn't find this information in the readme.

Thanks!

[2019-10-14 12:36] mightyiam commented on #1439
Hi, @marcospgp. Thank you for using Standard. To begin helping you, I'd like more information. Could you please submit a new issue with all of the issue template filled in? For our convenience, I'll close this one.

[2019-10-14 12:40] marcospgp commented on #1439
@mightyiam I'm sorry, I don't have the time right now. I just installed standard so it's the latest version. Ran on VSCode on Windows. Standard is the only project dependency.

[2019-10-14 12:49] mightyiam commented on #1439
Could you please run `npm --version` and `node --version` and paste the results here?

[2019-10-14 13:19] marcospgp commented on #1439
For sure!

[code]

[2019-10-14 13:22] mightyiam commented on #1439
How are you running `standard`, please? Is it via the command line in VSCode or via some extension?

[2019-10-14 13:42] marcospgp commented on #1439
I tried both with the integrated command line in VSCode (bash) and through the VSCode extension, both show the same error. No problem!

[2019-10-14 13:51] mightyiam commented on #1439
Could you please paste the result of the `npm ls eslint` command?

[2019-10-14 15:17] PandawanFr commented on #1283
Although much easier, I don't think it's the best idea to promote TSLint when [it has been deprecated](https://github.com/palantir/tslint#tslint). The TSLint team are currently porting all of the TypeScript rules and logic over to [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint) to make one unified linter for both JS and TS.

[2019-10-14 15:56] langri-sha commented on #838
I\'m not sure how I\'m supposed to feel about maintaining sentences like these and being forced to escape manually myself.

This rule is quite problematic, because using backticks without any tags or expressions clearly conveys the intent: this is language being displayed to humans.

[2019-10-15 02:41] mightyiam commented on #838
@langsri-sha, could you please expand on "this is language being displayed to humans"? I don't quite understand what "language" means here. The string?

[2019-10-15 08:28] LinusU commented on #1437
@mightyiam Luckily the code is in an OS repo :)

https://github.com/LinusU/scandium/blob/bb230b9fd872f000c36ee5abf9c82a28b08b445d/lib/swagger.js#L25-L26

[2019-10-15 08:34] LinusU commented on #1439
I have this consistently failing on Travis CI! 😄

https://travis-ci.org/LinusU/node-albatross/jobs/597540373

[code]

[code]

I wonder if the problem is that `eslint` isn't getting hoisted up, and thus the other modules can't find it? Since it's only required by `standard`:

[code]

[2019-10-15 08:37] LinusU commented on #1439
Hmm, maybe this is related?

https://twitter.com/feross/status/1161900081492234240

Not exactly the same though? 🤔

[2019-10-15 08:41] LinusU commented on #1439
This makes it seem like `npm` is simply not installing `eslint` package though 🤔

[code]

[2019-10-15 12:11] langri-sha commented on #838
@mightyiam here are a few instances where I use backticks because the string is something that's communicated directly to humans:

[code]

So was able to keep things neat and tidy with just single quotes and backticks. Now there's mixed use of single quotes, double quotes, escape sequences and backticks :grimacing:!

[2019-10-15 12:16] mightyiam commented on #1437
While not dismissing the issue, here is a small suggestion you might have thought about already as a workaround:
[code]

The combination of these two rules seem to pose an issue, here. Is it an edge case? Is it annoying? You tell me. I never done that.

I would say that the problematic one is https://eslint.org/docs/rules/no-template-curly-in-string, where in some cases it helps catch a bug and in

[2019-10-15 12:19] mightyiam commented on #1437
[code]

[2019-10-15 12:46] mightyiam commented on #838
@langri-sha what do you mean by "communicated directly to humans", please? You mean, while those humans are reading the code? Or by test failure messages, error messages and debug logs?

[2019-10-15 13:01] langri-sha commented on #838
By this I mean strings that are used to express written language. The case the OP makes with:

:point_up: I see this more as "I have a problem that I can express strings in two different ways", but I don't think this sufficiently accounts for written language, like this paragraph that I just writing. As I said, we've moved from a consistent use of single quotes and backticks to mixed use of single

[2019-10-17 09:08] marcospgp opened #1440 "Require 'use strict' at top of file by default"

[2019-10-17 09:09] marcospgp commented on #1440
Node doesn't run in strict mode by default, so we need to add the 'use strict' rule to our files to make it so. It would be nice to have a rule for this in case I forget to add it.

[2019-10-17 09:10] marcospgp opened #1441 "Check require() path and report error if file is not found"
This was being reported before when I was using ESLint with airbnb-base + prettier. It would be a nice to have in Standard as well!

[2019-10-17 09:43] marcospgp commented on #811
I decided to do the same and move back to ESLint with Prettier + eslint-config-standard

[2019-10-19 04:03] mightyiam commented on #1440
Thank you for the suggestion, @marcospgp.

Could you please provide a link to Node.js documentation that explains how Node.js decides whether a module is executed in strict mode or not?

[2019-10-19 04:34] mightyiam commented on #1441
Thank you for the suggestion, @marcospgp.

In Node.js projects, I would imagine that usually `require` paths are simple and straightforward.

But in web bundles (Webpack, etc.), the paths might be subject to rewrite rules defined in the bundler's configuration, making potential implementation complicated. A similar issue might be with Node.js projects that are compiled with TypeScript.

It is true

[2019-10-19 04:44] mightyiam commented on #838
@langri-sha thank you for the explanation. I understand what you mean now.

Personally, it's a non-issue for me. If you have a suggestion, could you please open a new issue with that?

[2019-10-19 04:55] mightyiam commented on #1439
@LinusU, if you have a local installation where this is occurring, could you please type in `npm ls eslint` to see if and where it is I stalled?

[2019-10-19 04:59] mightyiam commented on #1437
Since I don't see a reasonable solution other than a workaround such as I have described, I'm closing this issue. Please feel free to comment if you feel otherwise.

[2019-10-19 08:10] SebastianG77 commented on #1437
Hi,

why not just use @LinusU suggestion?

When using single or double quotes it is impossible to distinguish between a string representation of a placeholder or an incorrect use of a template string.

However, when using a template string, the user can explicitly tell the linter he wants the string representation of a placeholder by prepending a backslash. Thus, I also think it would be reasonabl

[2019-10-19 10:38] mightyiam commented on #1437
Thank you, @SebastianG77.

I'm thinking about it.

[code]

Is that compatible with the suggestion? Is that clear? Isn't it confusing? Is it good practice to allow it? Perhaps less confusing than my suggestion, which uses a template tag. And yet perhaps my suggestion is better practice? Notice that my suggestion only works for when the whole string is one template expression.

Perhaps if template e

[2019-10-19 15:57] CherryDT opened #1442 "Remove no-return-await as it sets traps during code refactoring and causes inferior stack traces"
**What version of this package are you using?**
14.3.1

**What problem do you want to solve?**
The `no-return-await` rule introduced in #695 is the only one with which I continue to disagree, and I think since the arrival of async stack traces in Node, there is now another reason to rethink it.

Therefore I want to open a discussion here. My point is that the `no-return-await` rule (which disallow

[2019-10-19 20:06] SebastianG77 commented on #1437
@mightyiam :
Can you tell me which eslint rule is responsible for disallowing template literals that do not have any use? I checked eslint rules by myself, but could not find this one.

Maybe a hint in the documentation would be helpful, but it should not be part of the error message, because this would be more irritating than helpful.

If you like to, I can create an issue for eslint, but I first

[2019-10-20 03:59] mightyiam commented on #1437
@SebastianG77 I appreciate your contribution. It seems to be the [quotes](https://eslint.org/docs/rules/quotes) rule.

[2019-10-20 11:36] SebastianG77 commented on #1437
@mightyiam
Thank you. I was searching for the term "template", but could not find anything.

Anyway, [here](https://github.com/eslint/eslint/issues/12466) I just created the new eslint issue.

[2019-10-21 02:35] mightyiam commented on #1442
I value your input, @CherryDT.

So, your claim is that the [`no-return-await`](https://eslint.org/docs/rules/no-return-await) rule is bad practice and that the opposite is good practice.

Your examples make sense to me. Personally, when I am using TypeScript, I am protected from that kind of refactoring errors. But that's just a side note.

Is there discussion in ESLint about the usefulness of `no

[2019-10-22 07:44] LinusU commented on #1442
Sounds very reasonable, it's not fun to lose the call in stack trace 👍

[2019-10-22 13:51] oneserv-heuser opened #1443 "Error: Failed to load plugin 'react' declared in '--config » eslint-config-standard-jsx': Cannot find module 'eslint-plugin-react' when trying to use standard with PhpStorm"
**What version of this package are you using?**
14.3.1 (global installation)

**What operating system, Node.js, and npm version?**
Windows 10 Pro Build 18362.19h1
PhpStorm 2019.2.3
Node.js 12.6.0
Npm 6.9.0

**What happened?**
When trying to use Standard as Code Quality Tool in PhpStorm according [to this manual](https://www.jetbrains.com/help/webstorm/eslint.html#ws_js_linters_eslint_using_JavaScr

[2019-10-23 02:45] mightyiam commented on #1443
Thank you @oneserv-heuser, for using Standard.

Could you please run `npm -g ls eslint-plugin-react` and paste the output here? When pasting, could you please use a [code block](https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks)?

[2019-10-23 05:51] oneserv-heuser commented on #1443
Output from `npm -g ls eslint-plugin-react`:
[code]

[2019-10-23 06:00] mightyiam commented on #1443
Thank you. Could you please try `npm -g install eslint-plugin-react@7.14.3` and see if that works around the problem? Also, after that, please provide the output of `npm -g ls eslint-plugin-react` again.

[2019-10-23 06:05] oneserv-heuser commented on #1443
Output after `npm -g install eslint-plugin-react@7.14.3`:
[code]

Doesn't solve the problem.

Output from `npm -g ls eslint-plugin-react`:
[code]

[2019-10-23 06:35] mightyiam commented on #1443
Thank you, @oneserv-heuser. I wonder whether this occurs with a local installation. Could you please try to use a locally installed `standard`, instead of the globally installed one?

[2019-10-23 08:02] oneserv-heuser commented on #1443
When installing standard locally for the project it works.

So this error only occurs when using the global installation.
I'd really like to use the global installation as I want it to use for my entire organization to inspect code in PhpStorm. Installing standard in every single project is not a good option then.

[2019-10-23 10:43] mightyiam commented on #1443
@oneserv-heuser how about re-installing your globally installed packages? Perhaps it's a messed up install? Re-installing the globally installed packages could also solve the problem in the case that it would result in an installation of a more up-to-date package somewhere in the tree, where this particular issue is possibly already fixed.

Also, it seems that you're not using a Node.js version ma

[2019-10-23 10:49] oneserv-heuser commented on #1443
I already tried reinstalling all global packages several times, the last try was just a few hours ago, so everything should be up-tp-date.

I'll give a Node.js version manager a try, but I don't think that this will solve my issue.

[2019-10-23 11:00] mightyiam commented on #1443
Thank you for responding. Regarding the version manager — it was just a tip for your convenience.

How about via the command line — could you please run `standard` in the project directory?

[2019-10-23 11:35] oneserv-heuser commented on #1443
Well, then thanks for the tip :D

Running `standard `in command line works, even after removing the project version and using the global one. So we maybe have a PhpStorm error here which has nothing to do with standard?

[2019-10-23 11:52] mightyiam commented on #1443
Mmm... How are you running Standard in PhpStorm, please?

[2019-10-23 11:59] oneserv-heuser commented on #1443
Standard is setup as Code Quality Tool in PhpStorm. That means it is setup as a linter via ESLint. This functionality is directly integrated into PhpStorm. More information can be found [here](https://www.jetbrains.com/help/phpstorm/eslint.html#ws_js_linters_eslint_using_JavaScript_Standard_Style).

So I never execute standard by hand, PhpStorm does all this. Does this answer your question or did

[2019-10-24 03:36] mightyiam commented on #1443
@oneserv-heuser thank you for the information. It answers my question. Since this seems to be a PhpStorm related issue, it seems appropriate to close it here and ask you to please investigate in PhpStorm public issues/forums and potentially contact their support. I would search for something like "globally installed standard eslint".

I'd love to know what you've learned, in this issue. Good luck.

[2019-10-24 03:36] #1443 closed

[2019-10-24 05:35] oneserv-heuser commented on #1443
I already contacted their support yesterday and they opened an issue ticket, it can be found [here.](https://youtrack.jetbrains.com/issue/WEB-42095)
@mightyiam Thanks a lot for your help!

[2019-10-26 13:12] LinusU commented on #1439
Unfortunately, I haven't been able to reproduce this locally yet. Hopefully I can take some time soon to reproduce this inside an Ubuntu Docker container ☺️

[2019-10-28 07:59] dave-dm opened #1444 "highly recommend adding require-await by default"
The most common bug in my work flow are forgetting some function has the async keyword and is returning a promise instead of some object. Which doesn't throw any error, it just returns unexpected results somewhere. Happens to me around once a day and always takes several minutes to debug. I added it to my .eslintrc and recommend it be added by default.

[2019-10-28 08:15] mightyiam commented on #1444
Thank you for voicing your feelings, @dave-dm. Please continue conversation in #738.

[2019-10-28 08:15] #1444 closed

[2019-10-30 17:51] CherryDT commented on #1442
@mightyiam Unfortunately I'm not familiar with how ESLint rules work internally, I'm not sure right now how to make said contribution. But nonetheless, I appreciate your open ear on this.

Did I understand it correctly in case you would actually reconsider this rule in the Standard, that you would then only consider switching to the opposite rule (hence the need for it to be exist), but not consid

[2019-10-31 09:28] mightyiam commented on #1442
Since we have no implementation of an alternative and since the rule seems to me to be more detriment than use, I would have it removed.

[2019-10-31 09:29] mightyiam commented on #1442
@feross

[2019-11-03 10:55] zhangyuang opened #1447 "may be jsx-closing-tag-location is a bad rule"
**What version of this package are you using?**
v14.0
**What operating system, Node.js, and npm version?**
10.0
**What happened?**

when you write ternary expression， jsx-closing-tag-location is very easy confilct with jsx-indent like this code
[code]
it cause standard can't fix the code style and save loop format my code
**What did you expect to happen?**
remove jsx-closing-tag-location, so i hav

[2019-11-05 14:27] Nomeasmo commented on #947
I find `named` and `default` pretty important. Are there any concerns?

[2019-11-05 21:03] segrey opened #1448 "Ability to skip running lintTextSync for ignored files"
**What version of this package are you using?**
14.3.1

**What problem do you want to solve?**

Standard provides `results = standard.lintTextSync(text, [opts])` API. This is a convenient way for tools to interact with the linter, because there is no need to save a file on disk.
The problem is that this method doesn't check if the passed `opts.filename` is ignored. Also there is no dedicated metho

[2019-11-06 09:09] matthewadams opened #1450 "Regression introduced in 13.0.0: "TypeError: Cannot get property 'range' of null""
**What version of this package are you using?**
`14.3.1`

**What operating system, Node.js, and npm version?**
macOS 10.14.6

[code]

[code]

**What happened?**
Upgraded all deps to latest versions as of this issue report & got failure:
[code]

`package.json` dependencies are the following:

[code]
Traced it back to `standard@13.0.0`; no error with with `standard@12.0.1`.

**What did you expect to

[2019-11-06 09:12] brandonaaskov commented on #1165
@linxuyalun myself and many other future travelers thank you profusely.

[2019-11-06 09:26] matthewadams commented on #1450
More info:  strangely, while 12.0.1 worked on my mac, it failed in CI on travis-ci.com:  https://travis-ci.com/SciSpike/nodejs-support/builds/135216135

[2019-11-07 10:11] sheerun opened #1451 "Issue with indentation of expressions in ternary expression"
This relates to https://github.com/sheerun/prettier-standard/issues/76

functions are normally formatted with indentation which looks nice:

[code]

but when trenary expression is used it doesn't have it:

[code]

It seems to me that while having indentation of each level of `?:` is great decision, the less great decision is that indentation is at the level of `?` itself instead of at the level of

[2019-11-09 18:30] zwx00 commented on #1384
This is still broken.

[2019-11-10 19:20] sheerun commented on #927
This is similar to #1451 that I've recently reported. This indeed makes indentation inconsistent

[2019-11-11 06:50] mightyiam commented on #1450
Thank you for the issue, @matthewadams. Whatever it was, it seems  to have been resolved. Probably somewhere down the dependency tree.

https://github.com/SciSpike/nodejs-support/pull/12

[2019-11-11 07:30] mightyiam commented on #1451
@sheerun thank you for your interest and detailed report.

Feel to me like this should be discussed upstream, ESLint. Is there an issue for this there?

[2019-11-11 07:31] mightyiam commented on #1451
I totally agree. I am using many ternaries and this bothers me, as well.

[2019-11-11 07:33] mightyiam commented on #1451
Seems like a duplicate of #927, doesn't it? If I'm wrong, please tell me.

[2019-11-11 07:33] #1451 closed

[2019-11-11 07:34] mightyiam commented on #927
More examples in #1451.

[2019-11-11 09:25] mightyiam commented on #1384
@feross were you able to reproduce, please?

[2019-11-11 12:28] sheerun commented on #927
I believe the right thing to do right now is to disable this rule and leave ternary expressions untouched. Implementing this rule in eslint can take long time or even never

[2019-11-11 13:50] sheerun commented on #927
Never mind, I've prepared pull request for eslint, please upvote:

https://github.com/eslint/eslint/pull/12556

[2019-11-11 16:03] sheerun commented on #927
Here's one more example from @Janpot: https://github.com/eslint/eslint/pull/12556#issuecomment-552483310

[2019-11-13 15:53] matthewadams commented on #1450
Hi @mightyiam looks like it's still a problem.  I've updated dependencies in `master` & it's still failing, but _not_ on macOS, only on *n*x (see docker build output below).  It appears that it's related to upgrading `babel-eslint`.  If you look at the [build history](https://travis-ci.com/SciSpike/nodejs-support/builds) of the project, my last commit before upgrading `babel-eslint`, which upgrade

[2019-11-13 16:59] promo360 opened #1452 "Error "is defined but never used" in for of"
**What version of this package are you using?**
14.3.1

**What operating system, Node.js, and npm version?**
Mac, node v10.17.0, npm v6.11.3

**What happened?**
[code]

[2019-11-13 17:22] mightyiam commented on #1450
@matthewadams could you please see whether it seems like one of the following?
https://github.com/babel/babel-eslint/issues/799
https://github.com/babel/babel-eslint/issues/741

[2019-11-13 17:38] mightyiam commented on #1452
Hi @promo360 and thank you for filing an issue.

It seems that this is likely https://github.com/babel/babel-eslint/issues/791. So I'm closing. But if you upgrade your babel-eslint and still experience this, please let use know here.

[2019-11-13 17:38] #1452 closed

[2019-11-13 18:53] matthewadams commented on #1450
@mightyiam As suggested in babel/babel-eslint#799, running `npm i @babel/types @babel/traverse --save-dev` fixed the problem!  So strange that it worked on macOS but failed on Linux.  #weird

[2019-11-13 19:05] LinusU commented on #1439
This seems to be fixed with all the latest versions now.

@marcospgp can you try and trash your `node_modules/` and `package-lock.json`, then install again and see if it works? Happy to re-open if you are still having problems!

[2019-11-13 19:05] #1439 closed

[2019-11-13 19:15] mightyiam commented on #1450
Happy to learn that. Thank you for informing.

[2019-11-13 19:15] #1450 closed

[2019-11-13 22:48] axelpale opened #1453 "Catch camel-case .innerHtml"
**What version of this package are you using?**
14.3.1

**What problem do you want to solve?**
Catch camel-case variant of `.innerHTML`. That variant is `.innerHtml`. It is rather ordinary, at least for me, to assign directly to an element's innerHTML and occasionally write this hard-to-find bug:

[code]

Looks innocent. Standardjs linter does not catch it. A webpack build does not throw anything.

[2019-11-14 03:48] mightyiam commented on #1453
Thank you, @axelpale, for using Standard and for your suggestion.

This kind of check would be in the domain of [type checking](https://en.wikipedia.org/wiki/Type_system#Static_type_checking) and therefore outside of the scope of Standard.

The most popular way to obtain the kind of check that you're describing here seems to be [TypeScript](https://www.typescriptlang.org/). Personally, I use TypeS

[2019-11-14 03:48] #1453 closed

[2019-11-17 16:29] david-szabo97 commented on #1283
Any update?

[2019-11-18 11:25] SherloxFR commented on #1283
@david-szabo97 as @PandawanFr said, [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint) is the way to go. It works very well and allows to use any ESLint rule in addition to the Typescript specific rules.
Hit me on my [Discord](https://discord.gg/yQsKbwx) if you need any help to set it up.

[2019-11-18 11:56] mightyiam commented on #1283
Standard has rules for TypeScript, as well. And that repository has instructions on set up, as well:
https://github.com/standard/eslint-config-standard-with-typescript.

[2019-11-22 13:03] sheerun commented on #1447
If https://github.com/eslint/eslint/pull/12556#issuecomment-554220017 is accepted to eslint and standard, this could be compatible with jsx-closing-tag-location with following code:

[code]

[2019-11-22 13:05] sheerun commented on #1447
Alternatively:

[code]

[2019-11-24 12:35] codeofnode opened #1454 "How to make standardjs accept tabularized code?"
**What version of this package are you `using?**
14.3.1

**What problem do you want to solve?**
I often write code as below
[code]
But above is marked non standard by [Standard JS](https://standardjs.com) becuase of extra spaces before `=`
How to bring StandardJS and [Tabularize](http://vimcasts.org/episodes/aligning-text-with-tabular-vim/) on same page?

**What do you think is the correct solutio

[2019-11-24 15:08] LinusU commented on #1454
The problem with that style is that if you have e.g. this code:

[code]

and then you want to add another line, the git diff will touch many more lines then were actually edited.

[code]

Another problem is that any one contributing to your code either has to install the Tabulizer plugin or manually adjust the affected lines...

Because of that I personally don't think that Standard should support

[2019-11-24 16:55] mightyiam commented on #1454
Thank you @codeofnode for using Standard and for bringing this up. I can understand where you're coming from. And yet having followed this project enough, I feel confident that this is clearly contrary to the "spirit" of Standard.

[2019-11-24 16:55] #1454 closed

[2019-11-26 12:22] mightyiam opened #1456 "Make the `testPackages` test throw more descriptive errors"
From this pr, #1455, where CI is failing, it's not clear what is failing exactly.

I suggest what could help is making all the errors thrown in the test suite a little more descriptive, as a start.

[2019-11-28 17:23] mightyiam opened #1457 "eslint-config-standard's peerDeps support newer major versions with `>=`"
https://github.com/standard/eslint-config-standard/blob/eb187deec36e72bfea4034db1a81b0d7414f814a/package.json#L51-L55

Shouldn't they use the caret (`^`) operator? How could we claim to support a newer major version that might rename/remove a rule, change some rule's options, etc.?

@LinusU

https://semver.npmjs.com/

[2019-12-01 20:46] havenchyk opened #1458 "indentation/alignment in jsx (react/jsx-curly-newline)"
**What version of this package are you using?**

eslint-config-standard-jsx@8.1.0

**What operating system, Node.js, and npm version?**
MacOS Catalina, node 13.2.0, npm 6.13.1
**What happened?**
Weird formatting, in prettier-standard package it's done more "correctly"
**What did you expect to happen?**
Another formatting like it's done in prettier-standard
**Are you willing to submit a pull reques

[2019-12-01 20:55] sheerun commented on #1458
This probably all stems from fast that `standard` uses eslint for both whitespace correction and linting issues in code. Eslint is great at linting, but not so much at correcting whitespace. prettier-standard uses [prettierx](https://github.com/brodybits/prettierx) for formatting and checking whitespace which can be configured to `standard` rules. I secretly hope standard will adopt this technique

[2019-12-04 20:30] Alexsey opened #1459 "Propose to allow exceptRange for yoda"
**What version of this package are you using?**
14.3.1

**What problem do you want to solve?**
Allow writing more readable code in cases when a variable is checking against a range e.g.
[code]
or
[code]

**What do you think is the correct solution to this problem?**
define more **yoda** precisely and allow this edge case with **exceptRange** option

**Are you willing to submit a pull request to im

[2019-12-05 04:31] mightyiam commented on #1459
Thank you for your suggestion, @Alexsey.

So, I understand that those two code samples you provided are currently not allowed by Standard?

If so, could you please provide a code sample in the style that Standard currently forces you to use, instead?

[2019-12-05 08:14] Alexsey commented on #1459
@mightyiam yes, currently

So, the [yoda](https://eslint.org/docs/rules/yoda) rule declares that for binary operators when one operand is a variable and another is a literal, the variable must be on the left and the literal must be on the right e.g.:
[code]

Standard has a config for this rule `"yoda": ["error", "never"]` i.e. force the rule with no exceptions

Now, considering testing variables a

[2019-12-05 11:35] LinusU commented on #1459
Seems reasonable to me 👍

[2019-12-07 08:11] havenchyk commented on #1458
I would provide a PR if this proposal is approved /cc @feross

[2019-12-08 19:29] AndyOGo commented on #1439
I just got the same error, turns out `standard` was upgraded in `package.json`, but a local `package-lock.json` (was wasn't commit and in gitignore file), caused it that another version was used...

[2019-12-09 04:16] mightyiam commented on #1439
Thank you for the tip, @AndyOGo .

[2019-12-09 13:22] wcatron opened #1463 "Support JSON linting or provide best practice for using with JSON."
**What version of this package are you using?**
13.0.2

**What problem do you want to solve?**
Linting the many `json` config files being used in my project. Including but not limited to `tsconfig.json` and `package.json`. Currently linting a json file suggests single quotes for everything which is very much non-standard. I think is #788 was on to something but framed their question all wrong. It'

[2019-12-10 09:49] mightyiam commented on #1463
Thank you @wcatron for your suggestion.

Seems like a duplicate of #903.

[2019-12-10 09:49] #1463 closed

[2019-12-10 13:46] mightyiam commented on #1459
Thank you for the excellent explanation, @Alexsey. After reading it, I went ahead and posted [this](https://es.discourse.group/t/chained-comparison-syntax/148).

I'm pro your suggestion. In fact, I would make it mandatory. Is there an ESLint rule for that?

[2019-12-10 16:29] Alexsey commented on #1459
@mightyiam  +1 to your proposal :) it doesn't seem like ESLint has a configuration to make the rule mandatory

[2019-12-13 12:30] felipezacani commented on #1329
Just bumped into this issue here:
    "eslint": "^6.7.2",
    "eslint-config-prettier": "^4.3.0",
    "eslint-config-standard": "^14.1.0",
    "eslint-plugin-import": "^2.19.1",
    "eslint-plugin-node": "^10.0.0",
    "eslint-plugin-prettier": "^3.1.1",
    "eslint-plugin-promise": "^4.2.1",
    "eslint-plugin-react": "^7.17.0",
    "eslint-plugin-standard": "^4.0.1"

[2019-12-18 04:12] coreybutler commented on #1384
@feross - I came across this running `standard "../src/**/*.js" --verbose`. It seems standard cannot accept relative paths using dot notation. Is that intentional?

For context, I have a complex build & test environment. I've abstracted the build/test aspects into their own local modules. My project structure looks like this:

[code]

I'm running standard as part of an npm script within the `test`

[2019-12-19 12:11] slikts opened #1464 "The `void` operator has legitimate use cases"
I've written up the [use cases for the `void` operator][yes-void], but, in short, the main use case is for making non-value-returning arrow functions explicit while keeping them in a single line, so the `no-void` rule should be removed from the base config as an oversight.

[yes-void]: https://gist.github.com/slikts/dee3702357765dda3d484d8888d3029e

[2019-12-19 12:39] mightyiam commented on #1464
@slikts thank you for the suggestion.

This was discussed in [the pull request that introduced `no-void`](https://github.com/standard/eslint-config-standard/pull/135). But that is a PR and on a different repo, so I'm not marking this as a duplicate. I am closing it, though. And here's why.

[code]

The first form is decided to be not explicit enough, because [`setTimeout` returns a number](https:/

[2019-12-19 12:46] slikts commented on #1464
The example actually uses more characters if you format it like popular tooling (Prettier et al.) and conventions suggest:
[code]
This also bloats the line count, especially since void arrow callbacks are common.

[2019-12-19 12:53] mightyiam commented on #1464
No problem. Others should chime in.

[2019-12-19 14:25] rafaelalmeidatk commented on #1440
Most projects use some sort of code transpilation and the `'use strict'` is automatically included, so it would be very annoying to have this as a default since most people would have to turn it off.

[2019-12-19 16:51] ljharb commented on #1464
Char and line count shouldn’t matter. If you don’t want to return a value from an arrow function, don’t use the concise form.

[2019-12-19 18:00] slikts commented on #1464
This is an unsubstantiated claim that contradicts both common sense and literature (like [this popular paper][tarpit] that identifies code volume as a major source of complexity). That's not to overstate the importance of line count, but at least spatially lines matter more than characters, since a typical setup just has space for a few dozen lines. Programming styles that use many void callbacks

[2019-12-19 18:18] ljharb commented on #1464
Given that `no-void` can't be customized in the way you want yet, this issue doesn't seem actionable for standard until/unless https://github.com/eslint/eslint/issues/12688 is released?

[2019-12-19 20:04] swansontec commented on #1464
I agree with @ljharb - if we had the ability to ban `void` everywhere except arrow functions, I would fully support that change. A similar example would be the way Standard.js bans `==` everywhere except in the specific case of `== null`. The `==` operator, like `void`, isn't something people should normally use, so we don't want to allow it everywhere by default.

[2020-01-11 06:59] zmeyc commented on #1362
I think this is useful rule, but it can alter code behavior in some cases:
[code]

[2020-01-13 12:15] mcdado opened #1474 "Relax rule: Do not enforce camelcase style for global variables (camelcase)"
**What version of this package are you using?**
14.3.1

**What operating system, Node.js, and npm version?**
macOS 10.15.2, Node.js v10.18.1, npm 6.13.4

**What happened?**
In a JS file for the web, that interacts with a page where there's a variable defined in a template (which comes from an open source e-commerce CMS — changing it would break core functionality because other code expects it) I d

[2020-01-13 14:25] mightyiam commented on #1474
https://eslint.org/docs/rules/camelcase

I don't see anything regarding globals. Perhaps take a look at ESLint source code; the tests for the camelcase rule; whether there's a test for ignoring globals.

[2020-01-13 16:03] mcdado commented on #1474
Thank you, sorry I didn't think hard enough about it that it should be an upstream issue... and it seems that there's not much interest there: https://github.com/eslint/eslint/issues/11716

[2020-01-13 16:57] mcdado commented on #1474
https://github.com/eslint/eslint/pull/12782 🤞

[2020-01-13 20:06] lopesboa opened #1475 "Update eslint version on standard"
Hi guys, I'm actualy using standard version `14.3.1`, and I have a project with react on different tree, when I try to run `yarn start` for run the project git me this error:
[code]
and I just check that standard use `eslint 6.4.0`, I have to install eslint first and then install standard, this solve the problem.

Can you please update the eslint dependency.

[2020-01-14 03:44] mightyiam commented on #1475
@lopesboa I'm quite certain that you should be able to simply install whatever version of eslint you require in your project. This is because npm supports having multiple versions of the same package simultaneously installed.

Having said that, standard does update its eslint dependency periodically.

I'll close this issue. But if you still have any unsolved problem, please let me know here.

[2020-01-14 03:44] #1475 closed

[2020-01-17 03:47] ZhangQian-Cheryl commented on #1406
![Uploading 心经.jpg…]()

[2020-01-17 08:52] mightyiam opened #1476 "Extract the public usage test"
In the typescript config, I [would like to have](https://github.com/standard/eslint-config-standard-with-typescript/issues/211) a public usage test as well, similar to the one standard has:
https://github.com/standard/standard/blob/v14.3.1/test/clone.js

I would like to extract this test into its own repo, `standard/public-usage-test`. Would that be cool, @feross ? And would it be alright if it's

[2020-02-06 08:24] ZeroJsus opened #1478 "Support public and private static properties"
I have a question.
My code failed with Unexpected token =
![image](https://user-images.githubusercontent.com/19191127/73918618-e8a04f00-48fc-11ea-9135-e305562220db.png)
![image](https://user-images.githubusercontent.com/19191127/73918665-fe157900-48fc-11ea-992b-3979712a622b.png)
![image](https://user-images.githubusercontent.com/19191127/73918677-066db400-48fd-11ea-9755-9252ca0c166b.png)
And I've

[2020-02-08 04:51] mightyiam commented on #1478
Thank you for using standard, @ZeroJsus. And for reporting this issue.

@ZeroJsus I don't usually use classes but from [what I can tell](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/static) the `=` is really unexpected there. I can't seem to find the definition that describes the proposed usage of `static` in class fields that are not methods.

It seems like it should

[2020-02-11 09:25] freekingg opened #1479 "process is not defined"
**What version of this package are you using?**

**What operating system, Node.js, and npm version?**

**What happened?**

**What did you expect to happen?**

**Are you willing to submit a pull request to fix this bug?**

[2020-02-11 12:00] mightyiam commented on #1479
Hi, @RocWangPeng and thank you for using Standard. Could you please send a screen shot of the issue that you are experiencing?

[2020-02-12 13:35] emilbayes commented on #1478
@mightyiam I don't know that this has been standardised yet, but V8 supports it: https://v8.dev/features/class-fields#public-and-private-static-properties

Example:

[code]

[2020-02-14 18:41] kpeters-cbsi commented on #1384
I'm seeing this as well using `standard` 14.3.1. Happens with or without a `.gitignore`

[2020-02-20 16:34] prateekrastogi commented on #1439
@AndyOGo Worked pretty well for me too

[2020-02-23 08:00] isiahmeadows opened #1480 "Rule conflict between `react/jsx-closing-{tag,bracket}-location` rules and the built-in `indent` rule"
**What version of this package are you using?** 14.3.1

**What operating system, Node.js, and npm version?** macOS 10.14.6, Node 12.16.1, npm 6.13.4

**What happened?**
With the following config:

[code]

Lint this file:

[code]

**What did you expect to happen?**
I would expect either all the `eslintN` ones (this plugin's rules taking precedence) or all the `reactN` ones (ESLint's built-in `inden

[2020-02-26 04:29] mikeal commented on #1478
Ya, this should be in the default supported syntax now that V8 supports it, I was pretty surprised to see this error pop up.

[2020-02-26 12:53] CherryDT commented on #1442
May I ask what the status on this is? I'm just confused whether it is now decided that it'll be removed or not, since @mightyiam wrote it should be removed after all but that was already almost half a year ago. Thank you!

[2020-02-26 20:53] LinusU commented on #1442
There is some discussion about this in a few places, e.g. here https://github.com/standard/eslint-config-standard-with-typescript/pull/206

The more I think of it the more I'm leaning towards:

- Removing the rule completely in the **JavaScript** part
- Enforcing the use of `return await` in the **TypeScript** part
  - (that is, enforcing `return await` when you are trying to return a `PromiseLike

[2020-02-27 00:40] mightyiam commented on #1442
@LinusU thank you for the input. I am not a big async function user. So I'll wait for more input from others.

[2020-02-27 04:20] ljharb commented on #1442
If it requires a node flag to get a benefit from `return await` (one which overrides the cost of writing redundant code), then it should require a node flag to disable the rule.

[2020-02-27 07:03] CherryDT commented on #1442
@ljharb this is secondary. It doesn't require a node flag to mess up your refactoring.

[2020-02-27 09:13] LinusU commented on #1442
I'm not aware that you need a specific flag in the newer versions of Node.js?

In fact, as far as I know, it's supported in every currently active release (>= 10.13.0)

Or am I missing something? 🤔

[2020-02-27 17:12] LinusU commented on #1478
I'm guessing we just need to bump some dependency, probably the eslint one? PR welcome ☺️

[2020-02-27 19:01] ljharb commented on #1442
@CherryDT what i mean is, `return await`, outside of a `try`, is redundant and incorrect and makes your code artificially slower. If someone wants to incur this cost in exchange for better stack traces in one JS engine, that's fine! but they should have to disable the rule for that.

[2020-02-27 19:43] CherryDT commented on #1442
The better stack traces are a nice side effect but the major issue is that it covers up what the code is actually doing. Hence all my examples about how it hinders readability and adds traps for later modifications. My point is that it is bad practice to encourage that.

There are many other rules following the philosophy of making the code "normalized" and easier to read and less likely to break

[2020-02-27 19:53] gromovadarya90 opened #1481 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:00] ljharb commented on #1442
It's an async function, that's what makes it wait for an async result. The extra `await` is what covers up what the *async function* is actually doing.

When I say "slower", i don't mean "takes a few extra ms", i mean "takes another tick" which might be *seconds*, depending on your app.

[2020-02-27 20:07] CherryDT commented on #1442
**ad 1:**

That may be technically right but logically wrong. This is not how humans think. Again, the standard should aid humans, not computers. When I'm modifying one line of code I'm not always scrolling up and down and reading the whole rest of the file. Plus, here the point is not that it covers up the async function's job, but the fact that the thing I'm returning is _also_ an async function

[2020-02-27 21:07] ljharb commented on #1442
It's how this human thinks, and how the JavaScript language works. Something that encourages an incorrect understanding of what the language does is worse for humans, even if it appears to be better for some humans in the short term.

You're right, "tick" is the wrong term. It's a new microtask, though.

[2020-02-27 21:10] CherryDT commented on #1442
Sorry, I didn't mean to call you not human. That didn't come out right.

Anyway, it seems you are not addressing any of the code clarity and refactoring-traps issues that I mentioned, from what I understand your point is that it is more important to work "low-level" than to create maintainable code. In this case let's just agree to disagree because I'm not sure what to respond to that.

[2020-02-27 21:12] ljharb commented on #1442
From my perspective, code is clearer when it avoids the unnecessary `await` - so yes, I think we just won't agree on that subjective opinion, even though we agree that clarity should be prioritized, and that code is for humans.

[2020-02-27 22:02] renata2216 opened #1482 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:23] renata7738 opened #1483 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:40] CherryDT commented on #1442
For the record (and for anyone interested): I wanted to get to the bottom of how much it affects the performance.

Using a native debugger I found that it creates the same amount of microtasks either way, but I'm not sure about how reliable my findings there are because I simply put breakpoints on all symbols in node that contained anything related to "enqueue microtask" and counted how often they

[2020-02-28 00:38] mightyiam commented on #1442
Thank you @LinusU, @ljharb and @CherryDT. Is there agreement now that the performance hit seems negligible?

[2020-02-28 01:34] greenkeeper[bot] opened #1485 "An in-range update of babel-eslint is breaking the build 🚨"
## The devDependency [babel-eslint](https://github.com/babel/babel-eslint) was updated from `10.0.3` to `10.1.0`.

🚨 [View failing branch](https://github.com/standard/standard/compare/master...standard:greenkeeper%2Fbabel-eslint-10.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-eslint is a devDependency of thi

[2020-02-28 05:14] ljharb commented on #1442
@mightyiam in *node* and v8, sure, but standard applies to code that's used in other engines. I'd want to see results in a lot more of them before conceding a performant argument.

However, I don't think perf actually matters here; i think `return await` is incorrect code, and tools allowing it (or worse, requiring it) will confuse people about how async functions, and `await`, actually work.

[2020-02-28 05:36] helen798 opened #1486 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:27] helen78989 opened #1487 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-02-28 08:05] CherryDT commented on #1442
I still don't see how it is "incorrect code" though.

`return undefined` is also valid, even though you could say it's redundant because `return` does the same thing from a technical standpoint. Yet it conveys a different message: I'd use `return` if I basically don't care what's returned because the function is not supposed to return a value at all (technically, it'd always be `undefined` then),

[2020-02-28 08:13] ljharb commented on #1442
Sure, i agree - and you should use `return await x` when you need to await the result of x *within the function*, ie, inside a try block. Otherwise, you’re awaiting for no apparent purpose.

[2020-02-28 08:18] LinusU commented on #1442
Hmm, I don't really see how it "incorrect"? and it isn't really "redundant" since the behaviour is different.

This has been brought up in another thread about this, but this isn't because of one JS engine. I don't see how one engine could choose to add a function that isn't running anymore to the stack trace?

Not really though, if you return a Promise from an async function it doesn't wait for t

[2020-02-28 08:24] CherryDT commented on #1442
My point was that the purpose does exist: The purpose is to do exactly that, logically keep the awaiting inside the function - both for computers (stack issue) and humans (refactoring issue).

Logically, I these are different functions for me:

* async function returning a string
* sync function returning a promise to a string

...even though technically they _happen_ to be the same. I view this a

[2020-02-28 10:58] CherryDT commented on #1442
I also don't see where this argument comes from. I posted a comment at https://github.com/typescript-eslint/typescript-eslint/issues/1378#issuecomment-592455091 with another real life example where the missing frame would have pointed to the culprit.

[2020-02-28 13:27] RodrigoTomeES opened #1488 "Code doens't work without semicolon"
This is my code:

[code]
Without semicolon I recive this error:

With semicolon, I don't have any error

[2020-02-28 14:38] mightyiam commented on #1488
@RodrigoTomeES thank you for using Standard and reporting your issue.

This is one of the few cases where a semicolon is necessary. That's because the first `[` of the second line is interpreted as an accessor to the literal array from the first line. Place a semicolon at the start of the second line:

[code]

Read about it [here](https://github.com/standard/standard/blob/master/RULES.md#semicolon

[2020-02-28 14:38] #1488 closed

[2020-02-28 16:37] ljharb commented on #1442
@LinusU the promise returned from an Async function is never the same promise you eventually return from it; the spec requires it have a different identity. `Promise.resolve(x) === x` is the only place the behavior you describe is observable.

Separately, you can never have a promise of a promise, it’s not a monad.

I’m seeing arguments here in favor of return await that directly contradict how th

[2020-02-28 16:40] ljharb commented on #1442
@CherryDT note that the concept of await wasn’t *implemented using* promises, it *is* promises. Promises aren’t an implementation detail that you can ever avoid thinking about - async/await simply does not replace the need to directly use, and understand, promises. Why do you think we keep adding new Promise combinators to the spec, and have no await syntax for any of them?

[2020-02-28 19:09] CherryDT commented on #1442
I don't think so. Promises (in the way we were using this word in this thread), more specifically [Promises/A+](https://promisesaplus.com/) are a JS-specific interface of the much broader [language-independent promise/future/deferred concept](https://en.wikipedia.org/wiki/Futures_and_promises).

async/await is a syntax construct to create synchronous-looking code that is actually asynchronous, and

[2020-02-28 19:15] ljharb commented on #1442
imo the JS implementation is the only concept that matters to JS devs; the long tail of JS devs likely have never written another language. Promises/A+ was useful until Promises were added to the spec, at which point it's no longer relevant except as historical background.

[2020-02-28 19:25] CherryDT commented on #1442
You are right. My mistake. I changed my post accordingly. It doesn't change anything though, since the flattening behavior is the same in Promises/A+ and ECMAScript Promise Objects.

And you are also right regarding JS devs, but I think that ultimately programmers get to understand concepts, ideally. (Obviously, you have to understand the implementation in your current language/framework/etc. as w

[2020-03-02 08:04] LinusU commented on #1442
Would you mind elaborating on this? 🤔

[2020-03-02 08:41] ljharb commented on #1442
@LinusU see the rest of that comment for examples.

[2020-03-02 10:35] LinusU commented on #1442
Do you mean this part?

I'm not sure how that affects the arguments 🤔

[2020-03-02 20:24] ljharb commented on #1442
@LinusU

This is false.

I seem to have slightly misread part of your comment; you weren't claiming you can have a Promise of a Promise, but contrasting JS to a language where that is possible.

None the less, that is the semantic the language has, and `return await` thus doesn't offer any value (except as the OP points out, in one implementation's non-spec-mandated non-standard stack trace modifi

[2020-03-02 20:33] CherryDT commented on #1442
... and other than this secondary usefulness, the primary extra value of not provoking a number of foreseeable developer errors in the future... which is independent of any implementation or standard and the main point of my issue

[2020-03-02 20:39] greenkeeper[bot] opened #1489 "An in-range update of tape is breaking the build 🚨"
## The devDependency [tape](https://github.com/substack/tape) was updated from `4.13.0` to `4.13.2`.

🚨 [View failing branch](https://github.com/standard/standard/compare/master...standard:greenkeeper%2Ftape-4.13.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tape is a devDependency of this project. It **might not bre

[2020-03-03 13:17] LinusU commented on #1442
@ljharb why is this? 🤔 do you have any links where I can read up on this?

[2020-03-03 16:51] ljharb commented on #1442
Because that’s the way the spec works? An async function produces a new promise and returns it at the first `await`, or at the return, before resolving the awaited/returned value. If your statement was true, `const p = Promise.resolve(); (async function () { return p; }()) === p` would be `true; [it is not](https://repl.it/repls/SandySvelteVariable).

[2020-03-04 08:11] LinusU commented on #1442
Ah, okay, I understand how you mean. What I was trying to convey was that the promise of the async function will be settled with the new promise that is being returned, and the async function will no longer be executing even though the final promise hasn't settled yet.

[code]

-----

I'm not sure this is correct, but I might be misinterpreting what you are trying to say here. If it resolves the v

[2020-03-04 09:00] ljharb commented on #1442
Certainly if you're returning from an `async function` inside a `try`, `return await` might make sense. However, that's the *only* case where it *might* make sense. There's already an eslint rule that forbids `return await` outside of a `try`, so you don't have to remember anything :-)

[2020-03-04 09:36] CherryDT commented on #1442
It's not in the standard though, and I doubt there can be rules that catch the other cases I described above unless the code is TypeScript. So again it should be at the developer's discretion in the case...

[2020-03-04 09:52] LinusU commented on #1442
Well, I have to remember that I _need_ to add it inside the try, which is very easy to forget if the linter normally forces you to _not_ add it.

I've actually seen this caught in code review more than once, people forgetting to add `await` in the `try`, and I think that this could be somewhat mitigated by having the mindset that async values should always be awaited.

-----

I still strongly feel

[2020-03-04 10:52] LinusU opened #1490 "Enable rule "import/order""
I think it would be nice to add the `import/order` rule. This is my suggestion for how the rule should be configured:

[code]

This is based on what I've seen mostly when contributing in mostly the Node.js ecosystem. I'm very open to hearing other peoples perspective!

I think that a good strategy could be to start with only the `groups` option, and then follow up with the other options later.

Ju

[2020-03-04 10:52] LinusU commented on #947
Issue for `import/order`: #1490

[2020-03-04 16:22] catalin-luntraru commented on #1356
Could we have `globalThis` enabled by default without the need to set it in package.json as
[code]

[2020-03-05 10:35] LinusU commented on #1356
@catalin-luntraru that seems like a good move, would you mind opening a separate issue for that, and maybe a PR as well?

[2020-03-07 01:21] DanSchoppe commented on #1384
A debugging clue...

I worked around this by manually editing `node_modules/deglob/node_modules/ignore/index.js::createFilter()`:
[code]

To be clear, this change worked for both:
- a globally-installed binary, which was failing on `../` relative paths even without any `.gitignore` in the working directory or any parent of the working directory
- a project-installed binary, where there *is* a .git

[2020-03-09 12:57] Fr33maan opened #1491 "in new RegExp(string): Unnecessary escape character: \d. (no-useless-escape)standard(no-useless-escape)"
**What version of this package are you using?**
`13.1.0`

**What operating system, Node.js, and npm version?**
`node 13`

**What happened?**
Wrong error message for
` new RegExp('^([\w\s.<>_]+) \(.*(src|dist)?.+(src|dist)\/(.+):(\d+):(\d+)\)$')`

**What did you expect to happen?**
No error as escape characters are necessary in the regex

**Are you willing to submit a pull request to fix this bug?*

[2020-03-09 12:58] #1491 closed

[2020-03-09 12:58] Fr33maan commented on #1491
https://github.com/standard/standard/issues/883

[2020-03-09 18:59] soratobukuroneko commented on #1115
in package.json I have
[code]

and

[code]

but I'm still getting `'If' is not defined  react/jsx-no-undef`... what am I missing?

[2020-03-10 09:59] soratobukuroneko commented on #1115
Any update? :(

[2020-03-14 13:57] LinusU opened #1493 "Release proposal: 14.3.2"
I propose to release version 14.3.2 of Standard as soon as we merge #1492. It contains some dependency bumps that avoids packages with security vulnerabilities that was just disclosed on the Github security platform. As it is now, packages depending on Standard have no way to remove the warning from their repository, and can't upgrade to non-vulnerable packages.

There seems to have only been chan

[2020-03-14 19:42] LinusU commented on #1493
Released 🍾

- Changelog entry: https://github.com/standard/standard/blob/master/CHANGELOG.md#1432---2020-03-14
- Github release: https://github.com/standard/standard/releases/tag/v14.3.2
- Npm release: https://www.npmjs.com/package/standard/v/14.3.2

[2020-03-14 19:42] #1493 closed

[2020-03-15 14:17] watson opened #1494 "v14.3.2 broke support with Node.js versions <8.10.0"
**What version of this package are you using?**

14.3.2

**What operating system, Node.js, and npm version?**

Node.js 8.9.4

**What happened?**

[code]

It's complaining about the use of [the `s` regular expression operator](https://tc39.es/ecma262/#sec-get-regexp.prototype.dotAll) which wasn't introduced until Node.js 8.10.0.

**What did you expect to happen?**

That the linting completed succes

[2020-03-15 14:39] LinusU commented on #1494
Sorry about this, rushed this one out since there was security alerts involved...

I think that we should merge #1496 and cut a new patch release asap to avoid breaking peoples builds...

[2020-03-15 14:51] LinusU commented on #1494
For reference, this is the commit that introduced the breaking change: https://github.com/eslint/eslint/commit/448ff1e53734c503fb9e7e6802c1c7e441d4c019

All of the ESLint 6.x releases have always only had `^8.10.0` in their engines though, so officially it never supported `<8.10.0` at all

[2020-03-15 14:55] #1494 closed

[2020-03-15 14:56] LinusU commented on #1494
ESLint 6.6.0 is the last to be compatible with Node.js 8.3.0 - 8.10.0, but that version still depends on the vulnerable `minimist` version...

I think that the best approach is the one in #1496, to just not run on Node.js 8.7.x, 8.8.x, and 8.9.x.

[2020-03-15 14:57] LinusU opened #1497 "Release proposal: 14.3.3"
14.3.2 broke compatibility with Node.js 8.7.0 - 8.9.4.

#1496 makes Standard not run on those versions.

I think we should make a release asap so that we don't break builds.

[2020-03-15 14:58] LinusU commented on #1497
@watson if you think this is a good idea I will push out the release now!

[2020-03-15 15:18] watson commented on #1497
I'm ok with a release now since this only makes the experience running Node.js 8.7.0 - 8.9.4 better 👍

[2020-03-15 15:19] LinusU commented on #1497
Pushing out a release now 🚀

[2020-03-15 15:23] LinusU commented on #1497
Released 🍾

- Changelog entry: https://github.com/standard/standard/blob/master/CHANGELOG.md#1433---2020-03-15
- Github release: https://github.com/standard/standard/releases/tag/v14.3.3
- Npm release: https://www.npmjs.com/package/standard/v/14.3.3

[2020-03-15 15:23] #1497 closed

[2020-03-16 18:01] danielspk opened #1499 "Fix JSX - Conditional expression"
**What version of this package are you using?**
14.3.3

**What operating system, Node.js, and npm version?**
Node 12.15.0 - NPM 6.13.4

**What happened?**
`standard --fix` not fix some problem:

**Root.js:46:7: Expected indentation of 4 space characters but found 6**

[code]

If I change the indentation to 4 spaces, I get the following error:

**Root.js:46:1: Expected indentation of 6 spaces but f

[2020-03-18 13:29] cyrilchapon opened #1500 "Yet another customization use-case"
Hey,

I'm looking for a way to add a custom rule to standard.

Pre-scriptum: Yes, I know : There are 200 issues with this topic. And yes, I understand the philosophy behind standardjs that is to actually "not customize it". I've been using standard for like 4 years as a CTO, and I'm even spreading the word and philosophy to every single developer I meet and go like "Just use standard.js"

THAT BEI

[2020-03-18 16:52] LinusU commented on #1500
First of all, sorry for saying this but I just can't stop myself: are you starting to use Flow now? why? have you considered TypeScript? It seems like everyone I'm talking to is choosing TS over Flow so I would love to hear your reasoning ☺️

With that out of the way, I think that the cleanest solution would be to have a `eslint-config-standard-with-flow` (that works in the same way that `eslint-c

[2020-03-20 15:19] jasonkarns opened #1501 "Respect XDG basedir spec for cache"
**What version of this package are you using?**
- standard@14.3.3

**What problem do you want to solve?**
Standard should respect user's preferences about where to write on disk.
The [XDG basedir spec](https://specifications.freedesktop.org/basedir-spec/latest/index.html) is designed specifically for this.

**What do you think is the correct solution to this problem?**
Standard should write its ca

[2020-03-20 15:24] mightyiam commented on #1501
@jasonkarns thank you for your interest. Sounds good to me. I am assuming that spec is either cross-platform or you have some idea what to do cross platform?

https://github.com/standard/standard-engine/blob/f2f766e64a6f4b18c2d07e150ba0fbccc56bc0ca/index.js#L41-L42

[2020-03-20 16:30] jasonkarns commented on #1501
Yep. The default values for XDG_CACHE_HOME use $HOME, so the spec can be respected cross-platform. Thanks for the code location. I'll open a PR to standard-engine.

[2020-03-21 12:42] LinusU opened #1503 "Release proposal 14.3.4"
Proposal for a patch release, just to bump the eslint config package with a patch bump.

It includes the relaxation of `no-return-await`, that was discussed here: https://github.com/standard/standard/issues/1442, and merged here: https://github.com/standard/eslint-config-standard/pull/164

Since there is no rush this time I'll let this issue be open either until a few people from the team have sig

[2020-03-22 04:01] yuanmaole opened #1504 "start standard with vscode got erro,and Code lint failure"
I got an err when i start standart with vscode:
JavaScript Standard Style server is running.
[Info  - 11:53:27 AM] JavaScript Standard Style library loaded from: /Users/mollet/Work/LMT/LMT_RN/node_modules/standard/index.js
[Error - 11:53:29 AM]
Failed to load plugin 'js' declared in 'CLIOptions': Cannot find module 'eslint-plugin-js'
Require stack:
- /Users/mollet/Work/LMT/LMT_RN/node_modules/stan

[2020-03-22 11:06] mightyiam commented on #1504
@yuanmaole thank you for using Standaard. I'd love to help you but I am missing some important details. Please new issue that includes the details that are asked for in the [new issue](https://github.com/standard/standard/issues/new/choose) template.

[2020-03-23 01:16] yuanmaole commented on #1504
@mightyiam I using standard with vscode  successful now，but i want change some erro  to waring such as camel case or no-unused-vars

[2020-03-23 01:35] #1504 closed

[2020-03-25 21:35] joshuagoran opened #1505 "Example on /rules.html page for constructor-super would break no-useless-constructor rule"
**What version of this package are you using?**
primarily using `"eslint-plugin-standard": "3.1.0"` with ESLint in VSCode but I don't think it matters as this seems to be strictly a documentation oversight. The same behavior happens when running `npx standard`

**What problem do you want to solve?**
the `Dog extends Mammal` example for the `constructor-super` rule itself breaks the `no-useless-con

[2020-03-26 10:23] LinusU commented on #1505
Nice catch! Pull requests welcome 🚀

[2020-03-30 19:24] davidc360 opened #1507 "Operators in the beginning of line instead of end?"
Currently,

[code]

gets formatted to
[code]

This looks good if the conditions are short and of the same length, but quickly becomes messy:
[code]
vs
[code]
[Airbnb agrees](https://github.com/airbnb/javascript#control-statements)
Opinions?

[2020-03-30 19:28] LinusU commented on #1507
Interesting, to me personally it looks a bit off, but that's probably because I'm not used to it.

~~The larger problem here is that it probably breaks a~~ Actually, it seems like Standard accept both styles. What are you using to format the code? I think that the change isn't actually coming from Standard...

[2020-03-30 19:36] davidc360 commented on #1507
In my opinion the second style is cleaner because the && will always be aligned in the beginning, and linguistically it reads more natural (this, AND this, AND this vs this AND, this AND, this).

I'm using Standard in VSCode and this is the message I get:
```'&&' should be placed at the end of the line. (operator-linebreak)standard(operator-linebreak)```

[2020-03-31 14:20] LinusU commented on #1507
Changing `"operator-linebreak"` from `"after"` to `"before"` breaks 39 out of 219 repositories using Standard style. That's quite a high number, which I why we probably won't make this change unless we have a very good justification....

[2020-03-31 14:24] mightyiam commented on #1507
Feeling into it a little bit, "before" seems nicer. And more diff-friendly, as well. Which is a win in my book.

[2020-03-31 19:54] jluisgarcia opened #1508 "Swapping variable values using destructuring technique"
**What version of this package are you using?**
standard@14.3.3

**What operating system, Node.js, and npm version?**
ubuntu 18.04.4 LTS
node v12.16.1
npm 6.14.2

**What happened?**
Unexpected behavior when linting this short piece of code to swap values from two variables using destructuring technique.
[code]
Only when adding a semicolon as shown above, the Linter validates the code as correct.

[2020-04-01 02:35] mightyiam commented on #1508
@jluisgarcia thank you for using Standard and for taking the time to report your issue. This is one of the few cases where is semicolon is necessary, because the `[` would otherwise be understood as an accessor to the value resolved from the expression before it. I recommend placing the semicolon at the start of that line: `;[val2, val1] = [val1, val2]`

[2020-04-01 02:35] #1508 closed

[2020-04-09 22:42] ghost opened #1509 "Support optional chaining operator"
From the main page:

Currently optional chaining operator is already at Stage 4 and is supported by Chrome (from v80), Firefox (from v74) and Edge (from v80), but it's not included in the StandardJS. Could you please add support for Optional Chaining Operator in the StandardJS?
Thank you.

Related links:
- https://babeljs.io/docs/en/babel-plugin-proposal-optional-chaining
- https://caniuse.com/#fe

[2020-04-11 09:51] LinusU commented on #1509
This would indeed be nice 👍 does the latest version of ESLint support this?

[2020-04-20 16:50] gwu opened #1511 "Conflicting nested closing curly brace indent from 'indent' and 'jsx-indent' rules"
**What version of this package are you using?**
14.1.0

**What operating system, Node.js, and npm version?**
Debian GNU/Linux 9 (stretch), Node.js v12.16.1, npm 6.13.4

**What happened?**
In the following code (index.js):
[code]

[code]

If I change the code as standard has requested me to:
[code]

[code]

**What did you expect to happen?**
I expect the first code example to be correct.

**Are you

[2020-04-21 11:56] lukasoppermann opened #1513 ""Use default import syntax to import" when importing multiple exports"
**What version of this package are you using?**
Standardx@5.0.0

**What happened?**
I get the error/warning:

My code is:
[code]

**What did you expect to happen?**
In this case the default import:
[code]
does not work, because I am importing multiple files, so this should not create an error.

If I am missing something, please let me know. Thank you.

[2020-04-21 17:06] LinusU commented on #1513
I believe it wants you to import as such:

[code]

Maybe not the best error message 😅

[2020-04-21 17:25] lukasoppermann commented on #1513
Hey @LinusU,

awesome, that worked! 👍

[2020-04-21 17:25] #1513 closed

[2020-04-23 07:17] stevenpollack commented on #1165
@linxuyalun -- this fixed my issue. THANK YOU SO VERY MUCH!

[2020-04-24 07:08] LinusU commented on #1354
A lot of eco-system breakage, still think we should do this and mass send out PRs though, the rule is fixable.

- `always` fail  75
- `properties` fail  58

Maybe start with `properties` and upgrade to `always` later?

[2020-04-24 08:24] LinusU commented on #1354
PR is up https://github.com/standard/eslint-config-standard/pull/166

Just need to submit patches to all projects now 😄

[2020-04-27 19:46] Johnny-Brendow commented on #1365
if you got here, because you saw a warning like this "the imported jsx component must be in pascalcase"
you should know that some things don't accept accents , you may try to write
InPascalCase instead InPáscalCâsé

[2020-05-04 17:18] tenjojeremy commented on #1115
Hi @feross , any updates on this feature?

[2020-05-06 18:53] fullstackzach commented on #1509
Good to know standard doesn't officially support this.

if I use a chaining operator with a function and it is not returned, example:

example:
`someObj.anotherObj.myFunc?.(arg1, arg2)`

I see the linting rule `Expected an assignment or function call and instead saw an expression. (no-unused-expressions)standard(no-unused-expressions)`

[2020-05-08 14:58] mightyiam opened #1517 "eslint-plugin-simple-import-sort"
**What problem do you want to solve?**

I would like standard to make decisions regarding styling of imports, much more than it currently does.

**What do you think is the correct solution to this problem?**

Including [eslint-plugin-simple-import-sort](https://github.com/lydell/eslint-plugin-simple-import-sort/).

**Are you willing to submit a pull request to implement this change?**

Sure.

[2020-05-08 14:59] mightyiam commented on #1490
@LinusU how do you feel about #1517 ?

[2020-05-11 07:47] LinusU commented on #1490
@mightyiam that specific plugin doesn't support `require`, that is probably going to be quite a big problem for us? 🤔

[2020-05-11 07:57] mightyiam commented on #1490
Yes. Only where they are mixed. Which should be rare. And ES modules is the future, so maybe that's OK?

[2020-05-11 08:34] LinusU commented on #1490
Do you mean that it won't touch `require`s, and only concern itself with the imports?

I don't have a strong opinion on which plugin we use, although we already include the `import` plugin. What are the pros of using `simple-import-sort` instead?

[2020-05-11 12:09] mightyiam commented on #1490
The simple import sort is a one-stop-shop with very little configuration. Probably none that we would use. If we like it — we like it. Nothing more to do. It's kind of similar to standard in this sense.

If the `import` plugin allows a similar functionality plus it supports `require`, then it may be preferable. Does it support `require`?

[2020-05-11 16:24] LinusU opened #1518 "Upgrade to ESLint 7.x"
- [x] Update minimum Node [here](https://github.com/standard/standard/blob/5b2af9cef9031ac0e50af50876f5a126664e9180/bin/cmd.js#L7)
- [x] Semi-blocked on https://github.com/yannickcr/eslint-plugin-react/pull/2635
- [ ] https://github.com/standard/eslint-config-standard/pull/169
- [ ] https://github.com/standard/eslint-config-standard/pull/170

We should also consider adding these new rules:

- [x]

[2020-05-11 16:26] LinusU commented on #1503
Releasing now 🚀

[2020-05-11 16:29] LinusU commented on #1442
Fixed in 14.3.4 :shipit:

[2020-05-11 16:29] #1442 closed

[2020-05-12 03:51] mightyiam commented on #1503
Thank you, @LinusU !

[2020-05-12 14:23] feross commented on #1503
Thanks for doing this release, @LinusU

[2020-05-14 08:50] patoi opened #1520 "Missing Changelog update to 14.3.4"
Please, add changes of v14.3.4 to Changelog, thanks!

[2020-05-14 08:50] LinusU commented on #1520
@patoi would you like to send a PR for this? You can see the changes here: https://github.com/standard/standard/releases/tag/v14.3.4

[2020-05-17 07:31] Raynos commented on #1518
All of these changes are reasonable. I'm excited about bumping to eslint @ 7.

[2020-05-18 09:12] LinusU opened #1560 "Release proposal: 15.0.0"
We'll have to do a major version to get ESLint 7.x support, and I wanted to see if there is anything else we want to merge in as well. My preliminary list:

- [x] ESLint 7 standard/eslint-config-standard#169 standard/eslint-config-standard#170
- [x] Cleanup standard/eslint-config-standard#160
- [x] ES2020 globals standard/eslint-config-standard#156
- [x] Remove no-inner-declarations standard/eslin

[2020-05-19 08:57] josegutierro opened #1521 "(react/jsx-indent) conflict with standard(indent)"
![Alt Text](https://media.giphy.com/media/dW0bdf1KSsMDUeigIC/giphy.gif)

**What version of this package are you using?**
14.3.4

**What operating system, Node.js, and npm version?**
MacOS Catalina 10.15.4
Node v10.15.3
NPM 6.14.3

**What happened?**
Indent conflict with standard rule and react/jsx-indent rule

**What did you expect to happen?**
Autofix on save toggle between standard indent and re

[2020-05-20 22:46] jfoclpf opened #1522 "Convert truthy to boolean using ternary operator"
**What version of this package are you using?**
14.3.4

**What operating system, Node.js, and npm version?**
Node: v12.16.3
npm: 6.14.5

**What happened?**

I used this code as example
[code]

And this error appeared:

disallow ternary operators when simpler alternatives exist (no-unneeded-ternary)
https://eslint.org/docs/rules/no-unneeded-ternary

**What did you expect to happen?**

I find this a

[2020-05-20 22:52] jfoclpf commented on #1522
I realised now that we can use also `myVar = Boolean(x)`. Perfect, but the documentation should be more clear on that. Thanks anyway

[2020-05-20 22:52] #1522 closed

[2020-05-21 08:21] LinusU commented on #1522
Would be happy to accept a PR to update the docs!

[2020-05-21 08:43] greenkeeper[bot] opened #1523 "An in-range update of standard-engine is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [standard-engine](https://github.com/standard/standard-engine) was updated from `12.0.1` to `12.1.0`.

🚨 [View failing branch](https://github.com/standard/standar

[2020-05-21 09:53] jfoclpf commented on #1522
@LinusU where is the github directory for the rules' documentation? I can do it

[2020-05-21 16:43] timdp commented on #1517
This would be great. I spend way too much time thinking about how imports should be organized.

You can already try this out today by installing `simple-import-sort` and extending your ESLint config in `package.json`:

[code]

With `standardx --fix`, I got perfect results for my TypeScript code.

[2020-05-25 05:05] zeke opened #1524 "standard 14 reports parsing errors for valid public static class fields"
**What version of this package are you using?**

14.3.4

**What operating system, Node.js, and npm version?**

macOS Catalina, Node.js 12.8.0, npm 6.14.3

**What happened?**

This is a repeat of https://github.com/standard/standard/issues/940 where the use of a [public static class field](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Class_fields#Public_fields):

[code]

[2020-05-25 05:10] zeke commented on #1524
It appears that eslint comments don't work as a workaround for this either:

[code]

still causes this error:

[code]

[2020-05-25 08:09] LinusU commented on #1522
https://github.com/eslint/eslint/edit/master/docs/rules/no-unneeded-ternary.md

[2020-05-25 08:49] jfoclpf commented on #1522
@LinusU am I suppose to write the article from scratch when this exists already?
https://eslint.org/docs/rules/no-unneeded-ternary
May I copy-paste from it?

[2020-05-25 15:44] greenkeeper[bot] opened #1525 "An in-range update of cross-spawn is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [cross-spawn](https://github.com/moxystudio/node-cross-spawn) was updated from `7.0.2` to `7.0.3`.

🚨 [View failing branch](https://github.com/standard/standar

[2020-05-26 07:46] josegutierro commented on #1521
no one?

[2020-05-26 10:33] mightyiam commented on #1521
Is this #1480?

[2020-05-27 07:20] ungoldman opened #1526 "support async iterables (for await...of)"
**What version of this package are you using?**

14.3.4

**What problem do you want to solve?**

Example code from core `fs` docs does not pass `standard` lint:

[code]

[code]

https://nodejs.org/api/fs.html#fs_class_fs_dir

**What do you think is the correct solution to this problem?**

Async iterables (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for-await...of)

[2020-05-27 07:32] LinusU commented on #1526
Is this supported in the latest version of ESLint?

[2020-05-27 09:24] ungoldman commented on #1526
Seems like it should: https://github.com/eslint/eslint/pull/9957

[2020-05-27 10:33] LinusU commented on #1526
Nice, should be fixed by #1518

[2020-05-27 17:12] ungoldman commented on #1526
thank you!

[2020-05-28 16:05] kevinashworth commented on #1521
I see a problem here, too. `indent` wants '8 spaces but found 10' while `react/jsx-indent` wants '10 space characters but found 8.'

[2020-06-06 09:30] davidystephenson commented on #1358
This doesn't seem to match the `jsx-closing-tag-location` documentation. As you acknowledge in your first post, it says:

No parentheses are shown.

[2020-06-06 11:15] mightyiam opened #1528 "Each named import/export in its own line"
This style rule helps with rebasing. And also makes a decision for us. So one less decision for us to make.

https://github.com/gmsorrow/eslint-plugin-modules-newline

[2020-06-08 14:49] LinusU commented on #1528
Hmmm, I'm not exactly sure what it does, would be nice with some examples...

If it disallows this:

[code]

in favour of:

[code]

Then I would personally be very much against that rule 😅

[2020-06-09 04:55] w4-hanggi opened #1530 "Please update who uses javascript standard style"
node is not using standard style, express.js is not using standard style and electron is not using standard style.

It will be confusing who is using standard style.

[2020-06-09 08:17] LinusU commented on #1530
Haven't checked the others but as I am on the Express team I can say that we do indeed use Standard style. We do have some old code which aren't yet converted, but every time we touch a line we modify it to follow Standard...

[2020-06-09 10:56] johanleroux commented on #1509
Any news on this? Will this be implemented?

[2020-06-09 16:48] mightyiam commented on #1528
It's
[code]

Each named import or export in its own line. That's a lot of lines, possibly. But I'd pay that happily, to have easier rebasing.

[2020-06-14 10:39] mightyiam commented on #947
Here's another one. Easy profit.
https://github.com/benmosher/eslint-plugin-import/blob/HEAD/docs/rules/no-useless-path-segments.md

[2020-06-16 03:53] w4-hanggi commented on #1530
But if you look at the source code in github, it seems not standard style, there are many semicolon.

[2020-06-16 04:06] dougwilson commented on #1530
I'm just linking to an old comment in this repo that may help: https://github.com/standard/standard/issues/957#issuecomment-317136357 . Clicking on the express logo in the readme does not take me to a single repo so it seems to suggest it refers to the project as a whole instead of a single repo.

I don't have any state on what logos are in the README here, though. It's ultimately up to the projec

[2020-06-16 16:32] Fr33maan commented on #1500
What about a buggy plugin ? Standard is complaining on exported enum no being used and google lead me to https://github.com/typescript-eslint/typescript-eslint/issues/396, which suggest to swap the rule being use. Unless opening an issue here, waiting for it to be reproduced, fixed, merged and publish, I would be happy to hack the config by myself.

[2020-06-16 16:38] Fr33maan opened #1531 "no-unused-vars within typescript enum"
**What version of this package are you using?**
13.1.0

**What operating system, Node.js, and npm version?**
node 12.10
npm 6.10.3

**Standard config in package.json**
[code]

**What happened?**
[code]
Every entry of the enum has the error `'KG' is assigned a value but never used. (no-unused-vars)standard(no-unused-vars)`

**What did you expect to happen?**
No error

**Are you willing to submit a

[2020-06-16 17:27] mightyiam commented on #1531
I don't think Standard actually really supports TypeScript, yet. Consider using our TypeScript project config with ESLint:
https://github.com/standard/eslint-config-standard-with-typescript

[2020-06-16 17:28] mightyiam commented on #1531
#1283

[2020-06-16 17:28] #1531 closed

[2020-06-16 17:57] GxDesign commented on #1521
Any luck with this? Same boat as @kevinashworth

[2020-06-18 15:03] NemoStein opened #1532 "Rule suggestion: no-var"
Standard 12 added `prefer-const` rule which handles `let` variable not reassigned, but this rules doesn't handle `var` variables.
`var` is considerably more prone to causing trouble, not only because of not reassigned vars, but also because of scope bleeding.

Adding the `no-var` not only solves that problem, but it also encourage the use of `const`, which have a objectively clearer intent.

[2020-06-19 00:37] Fuzzyma commented on #1439
I have the same error but only when I want to use it with VSCode. The ESLint tab shows this:

[code]

The require stack is a bit strange because it starts from the project root and not from the eslint root.

[2020-06-19 02:23] kibebr opened #1533 "standard --fix does not recognize plugin 'classPrivateMethods'"
**What version of this package are you using?**

**What operating system, Node.js, and npm version?**
OS: Debian GNU/Linux 10 (buster) x86_64
Node: 14.3.0
NPM: 6.14.5

**What happened?**
Sublime Text's linter for standard recognizes the plugin `classPrivateMethods` and everything works great. However, calling `standard --fix` gives this error:

[code]

Here is my `package.json`:
[code]
and the `ba

[2020-06-19 05:20] mightyiam commented on #1533
Plugins should be an array, perhaps.

[2020-06-19 22:09] Fuzzyma commented on #1439
Ok for VSCode try this solution in case your eslint root is not your project root: https://github.com/microsoft/vscode-eslint/issues/196

[2020-06-22 20:12] feross opened #1534 "Missing changelog for 14.3.4"
`CHANGELOG.md` is missing an entry for 14.3.4.

[2020-06-23 09:05] LinusU commented on #1534
This is probably my fault 😅

We should be able to copy from here: https://github.com/standard/standard/releases/tag/v14.3.4

[2020-06-23 09:20] LinusU commented on #1500
@Fr33maan you could use `standardx` for that, but if you are using TypeScript I would recommend using `ts-standard` instead, which is optimised for working with TypeScript...

[2020-06-27 18:21] sheerun commented on #927
`offsetTernaryExpressions` indent rule is available in eslint 7.0, it should fix this issue :) https://github.com/eslint/eslint/pull/12556

[2020-06-29 11:17] dominykas commented on #1440
There is no documentation on that, other than what is in the standards: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode

I'm not sure I'd agree that "most projects" use transpilation, but even without that, I'm not sure I understand this statement. If your transpiler adds `'use strict'`, then why would you need to turn it off in `standard`? You don't need the `'use st

[2020-06-30 12:09] HoraceShmorace opened #1535 "Turn off import/no-absolute-path"
**What version of this package are you using?**
14.3.1

**What problem do you want to solve?**
This rule can't be used with projects that involve AWS Lambda Functions that reference custom code in Lambda Layers. Layer code MUST be imported relative to the root (`'/opt/[layer path]'`), which is an absolute path.

I've finally gotten our teams to use Standard for almost every project, zero customiza

[2020-06-30 12:15] HoraceShmorace commented on #1535
I'll move this to the eslint-config-standard repo.

[2020-07-01 06:51] Fr33maan commented on #1500
Finally used prettier-standard, thanks for input

[2020-07-01 18:18] BlaineBradbury commented on #1365
Ditto for underscores... can't have those either.  Thanks to the prior comment for giving me a clue.

[2020-07-03 11:45] smsteel commented on #1521
Can confirm the same problem, using `standard 14.3.4`

[2020-07-03 19:12] evanplaice commented on #1518
Is there anything specifically blocking progress on this?

The reason I ask is. ESLint isn't equipped to backport security fixes to the prior SemVer Major and another vulnerability was found in Lodash (ie which ESLint uses).

It'll probably be an easy fix (ie bump sub deps) but sometimes it isn't (ie the offending sub dep isn't maintained).

 Keeping StandardJS in lockstep with ESLint's SemVer maj

[2020-07-05 18:42] JeffSpies commented on #1283
Hi, all; what is the latest recommendation re TypeScript?

1) https://github.com/standard/eslint-config-standard-with-typescript as @mightyiam recommends above
2) StandardX as recommended on the [README](https://github.com/standard/standard/blame/master/README.md#L543) by @ahimta

Thanks!

[2020-07-06 08:06] LinusU commented on #1283
@JeffSpies my personal recommendation is [`ts-standard`](https://github.com/toddbluhm/ts-standard), which will probably be [transfered to the Standard org.](https://github.com/toddbluhm/ts-standard/issues/14) in a not so distant future ☺️

[2020-07-06 08:55] Raynos opened #1536 "Proposal: Move the "feature" of standardx into standard"
It's difficult & time consuming to maintain two npm packages ( https://github.com/standard/standardx and https://github.com/standard/standard ).

Standardx has some open issues that we don't have much bandwidth for ( https://github.com/standard/standardx/issues/27 & https://github.com/standard/standardx/issues/7 ).

What do you think about taking the `standardx` features and moving them into `stan

[2020-07-06 08:56] Raynos commented on #1536
cc @feross @LinusU

[2020-07-06 10:52] LinusU commented on #1536
Ultimately up to @feross, I'm okay with it ☺️

[2020-07-06 18:59] JeffSpies commented on #1536
Speaking as a user that is currently blocked from using Standard at all because of TS compatibility issues, if this is better for the respective maintainers, this does seem ideal for the users.

Thanks for all the hard work!

[2020-07-06 21:00] LinusU commented on #1536
@JeffSpies for TypeScript, I think that use case is better served by `ts-standard`, until we potentially can merge that into `standard`. Have you tried `ts-standard`? ☺️

[2020-07-07 02:53] JeffSpies commented on #1536
I got your message about ````ts-standard```` in another thread; I'll give it a try. Should we submit PRs to update docs/readmes with this recommendation?

I'll be happy with any solution that works, as I've discovered roadblocks at the end of every path I've tried (hence you seeing me in multiple threads).  And you all know better than I do on what the right solution is.

If it helps, my primary c

[2020-07-07 07:39] Raynos commented on #1536
@JeffSpies Your usecase sounds very custom.

I had a custom use case for `standard` + `typescript` + .js files with jsdoc comments. I ended up creating https://github.com/Raynos/tsdocstandard

Creating a module that uses `standard-engine` and customizes rules to be favorible for JS / TS / Vue etc will get you good bang for buck.

[2020-07-07 14:06] tsujp commented on #811
Absolute legend @sheerun

[2020-07-09 09:10] mcdado commented on #1474
Well, I landed the feature in eslint, and it got released in [7.4](https://github.com/eslint/eslint/releases/tag/v7.4.0).

Whenever the upgrade will come it would be nice for this option to be included 😊

[2020-07-09 09:12] mcdado commented on #1518
When upgrading to 7.x, if you jump to 7.4 directly, could you consider adding this option? https://github.com/standard/standard/issues/1474

[2020-07-16 08:30] mightyiam commented on #1535
Thank you, @HoraceShmorace. Actually, this is the repository where rules are discussed.

This seems like it would be a popular enough use case to consider disabling this rule. I personally would not like to go through that documentation. But I would like the issue confirmed.

[2020-07-18 19:22] NemoStein opened #1539 "Update ESLint to 7.5.0"
The recently released [ESLint 7.5.0](https://github.com/eslint/eslint/releases/tag/v7.5.0) introduces support for the Optional Chaining operator, while [ESLint 7.2.0](https://github.com/eslint/eslint/releases/tag/v7.2.0) already introduced support for the Nullish Coalescing operator.

Integrating this changes would allow us, developer, to use those new operators without been bombarded by Standard

[2020-07-18 19:39] NemoStein commented on #1539
Additionally, enable rules `no-promise-executor-return` and `no-unreachable-loop`, added in [ESLint 7.3.0](https://github.com/eslint/eslint/releases/tag/v7.3.0), might be a good idea.

Also, `no-loss-of-precision` ([ESLint 7.1.0](https://github.com/eslint/eslint/releases/tag/v7.1.0)) and `sort-imports` (--fix rule, [ESLint 7.5.0](https://github.com/eslint/eslint/releases/tag/v7.5.0)) can be a good

[2020-07-21 19:50] alex-mironov opened #1540 "standard --fix is not fixing autofixable rules"
`standard --fix` is not fixing indentation/bracket issues

The version I'm using
[code]

Standard config
[code]

It's throwing a lot of errors like
[code]
despite the fact those rules are autofixable

npm: `v6.12.0`
nodejs: `v12.13.0`

[2020-07-28 10:48] thclark opened #1541 "Enable use of pre-commit for easy use in a git hook"
**What version of this package are you using?**
latest

**What problem do you want to solve?**
Easier use of standard within a git hook.

**What do you think is the correct solution to this problem?**
Use of the [pre-commit](https://pre-commit.com/) library, like prettier does [here](https://prettier.io/docs/en/precommit.html#option-4-precise-commitshttpsgithubcomjameshenryprecise-commits)

**Are

[2020-07-28 12:45] thclark commented on #1541
OK, the above may not be necessary. There's an `eslint` hook already that can be specified to use the standard plugin.

[code]

Will apply all the standard rules without maintaining a standard-only hook here.

But, it might be a nice-to-have. Any thoughts? @maintainers feel free to close if this is noise at this point.

[2020-08-01 22:54] shadowspawn commented on #1539
Existing issue is: #1518

[2020-08-02 00:14] NemoStein commented on #1518
In #1539 (referenced by @shadowspawn) I asked for ESLint 7.5 because of the Optional Chaining operator (and the Nullish Coalescing operator by extension).
And I think that the rules `no-promise-executor-return` and `no-unreachable-loop` (ESLint 7.3) are good rules to be added.
Also, `no-loss-of-precision` (ESLint 7.1.0) and `sort-imports` (ESLint 7.5), although probable breakers, should be parte o

[2020-08-05 10:01] 75lb commented on #1535
I too would prefer this rule is removed from standard. What is the problem with absolute paths anyway? They are valid.

In my web projects, this rule prevents me importing npm-installed ES modules like this:
[code]

Instead, the rule forces me to use messy and brittle relative paths (which need fixing if the source file changes directory):

[code]

It is common for absolute paths to be used in web

[2020-08-14 07:54] toddbluhm commented on #1459
Just stumbled across this. I think this is a great idea and even enforcing the rule would increase readability!

[2020-08-18 21:01] limpid-kzonix opened #1542 "Parsing error: Unexpected character '#'"
**What version of this package are you using?**

**What problem do you want to solve?**
` Parsing error: Unexpected character '#'`

[code]

**Are you willing to submit a pull request to implement this change?**
No

[2020-08-30 22:19] Milo123459 opened #1543 "standard --fix always exits with code 0"
**What version of this package are you using?**
latest
**What operating system, Node.js, and npm version?**
node.js lts 12.3.6 npm 6.1
**What happened?**
running it an npm scripts always exits with code 1
**What did you expect to happen?**
should have some sort of check to see if it is an npm script and if it is then it should always exit code 0
**Are you willing to submit a pull request to fix th

[2020-09-03 19:43] matthewadams commented on #1117
Supporting globs including recursive ones like `standard 'src/**/*.js'` would also be great.  For now, I have to execute commands like `find src -name '*.js' | xargs standard --verbose`, which is both more verbose and also not platform-agnostic.

[2020-09-16 08:48] zhangyuang commented on #1356
@feross same issue, i want to. use standard with vue, but when i run command like `standard --parser babel-eslint --plugin vue **/*.vue`,vue files still prompt error

[2020-09-17 02:45] JiboStore commented on #1543
+1 on this issue.. it gives false negative which causes CI integration to fail

[2020-09-17 12:06] Zmeu213 commented on #1361
This rule is awful, I presonally hate it. This is the only reason i prefer not to use standard anymore. its doesnt make code cleaner but annoys you and force to make extra linebreaks
coz this is better
[code]
than this
[code]

[2020-09-17 12:09] LinusU commented on #1361
I agree that it's wrong in the one specific case that you outlined, but to say that the entire rules is awful is a bit much 😂

My personal preference is that the following should be disallowed:

[code]

@Zmeu213 could you check how that could be configured, and submit a pull request?

[2020-09-17 12:13] Zmeu213 commented on #1361
oh yea, looks like i forgot that this is open-source and I can help make it better myself instead of writing angry comments :)

Sure, i'll take a look

[2020-09-22 17:53] NemoStein commented on #1518
Hey, guys, please... This issue must move on...
Using latest spec syntax is essencial to push JS applications to next level and Standard is a huge part of the community.
Please, don't let this update die. =D

[2020-09-28 20:30] AndrewJakubowicz commented on #1509
I was able to get around this issue by using the babel parser through standard js. Followed [How do I use experimental JS features](https://github.com/standard/standard#how-do-i-use-experimental-javascript-es-next-features) guide, but replaced `babel-eslint` with `"parser": "@babel"`.

My steps:

`npm install @babel/eslint-plugin --save-dev`

Then add to the package.json standard config:

[code]

[2020-09-29 21:08] NemoStein commented on #1542
Standard only supports features in Stage 4 and up.
Class field declarations (https://github.com/tc39/proposal-class-fields) are still in stage 3.
TC39 Process: https://tc39.es/process-document/

[2020-09-30 22:40] davidjamesstone opened #1546 "Remove `eqeqeq` opt-in for nulls"
**What version of this package are you using?**
14.3.4

**What problem do you want to solve?**
eqeqeq enforced for nulls

**What do you think is the correct solution to this problem?**
Setting the second arg to eqeqeq to "null": "always" (or removing the setting altogether as this is the default)
https://eslint.org/docs/rules/eqeqeq

**Are you willing to submit a pull request to implement this cha

[2020-10-01 09:54] LinusU commented on #1546
`foo == null` is the equivalent of `foo === undefined || foo === null`. I personally most often (especially when dealing with GraphQL 😅) want to check both of those, and then use the shorthand `== null`. I feel that forcing people to write the longer form would be a bit too much 🤔

[2020-10-02 10:48] davidjamesstone commented on #1546
That's actually really quite useful and a good argument to keep it as-is. 👍

[2020-10-03 22:10] Divlo commented on #1283
`ts-standard` is awesome! We should update the [README.md](https://github.com/standard/standard#user-content-typescript), that everyone using TypeScript should use `ts-standard`.

[2020-10-05 19:02] pal commented on #1521
My case looks like this:
![standard-1521](https://user-images.githubusercontent.com/26654/95120605-1d93c880-074e-11eb-813c-de3f6c85a9b4.gif)

[2020-10-07 21:47] davidmarkclements opened #1548 "Parsing error: Cannot use keyword 'await' outside an async function"
**What version of this package are you using?**

14.3.4

**What operating system, Node.js, and npm version?**

Node: 14.13.0
npm: 6.14.8
OS: macOS Catalina 10.15.5

**What happened?**

Given code:

[code]

Output is:

[code]

**What did you expect to happen?**

`Top-level await` is a stage 3 proposal (see https://tc39.es/proposal-top-level-await/) but is enabled by default in from Node 14.8.0 (see

[2020-10-07 21:49] dougwilson commented on #1548
Typically standard doesn't enable this type of support until it is in stage 4 (https://github.com/standard/standard#how-do-i-use-experimental-javascript-es-next-features).

[2020-10-07 21:52] dougwilson commented on #1548
Regarding Node.js support, it has been supported prior to 14.8.0, but just behind a command line flag. Even with it unflagged, Node.js still documents the support has experimental, of course (https://nodejs.org/dist/latest-v14.x/docs/api/esm.html#esm_experimental_top_level_await). I'm not sure why it is still marked as experimental unless they are waiting for it to enter either Stage 4 or it becom

[2020-10-10 23:15] searls opened #1549 "Some interpolation leads to "Cannot read property 'range' of null" error"
**What version of this package are you using?**

14.3.4

**What operating system, Node.js, and npm version?**

On macOS:

[code]

**What happened?**

Given `foo.js`:

[code]

This error came back:

[code]

Changing from `${selector}` interpolation to just passing `selector` resolves the error.

[2020-10-14 12:34] pklepacki commented on #1333
For now it seems that with current version 14.3.4 files with names in brackets `[example].js` are simply skipped. The output is just: `c:\dev\some-project\pages\[example].js ignored.` Is there any way to force linting these? I wasn't able to find any to work on file save.

[2020-10-14 20:29] HonkingGoose opened #1550 "Greenkeeper bot is dead, migrate to another bot"
**What version of this package are you using?**

Not relevant.

**What operating system, Node.js, and npm version?**

Not relevant.

**What happened?**

Your Greenkeeper dependency checker bot is dead.

Quote from the [Greenkeeper.io website](https://greenkeeper.io/):

This means there are no automated dependency checks anymore.

**What did you expect to happen?**

A bot that checks for updates to

[2020-10-15 22:07] ankurnarkhede opened #1559 "Enforce a maximum line length"
**What version of this package are you using?** : 14.1.1

**What problem do you want to solve?**
I want standard to enforce max-len.
I use `eslint-config-standard` in my project rather than [standard](https://github.com/standard/standard) as I wanted to add a few plugins like `eslint-plugin-mocha` and `eslint-plugin-security`.

I have gone through the issue: https://github.com/standard/standard/is

[2020-10-18 18:24] davidmarkclements commented on #1548
Thanks @dougwilson - this is fair enough and it's one of the downsides to not putting experimental features behind flags.

My only counterpoint here is for the sake of pragmatism: if it's not behind a flag, people will use it without checking whether it's experimental and while this isn't in any way the linters fault, the linter may be blamed regardless.

[2020-10-18 18:26] dougwilson commented on #1548
To clarify, I am not a member of this project and cannot make decisions etc. I was just trying to help by connecting your question to the project's written policy.

[2020-10-19 07:09] AoDev commented on #786
Hi, seems I found a very old issue. Like @indiesquidge, semicolons are not taken into account for class properties.
I don't know if that has always been like that?

Context: I used a codemod recently that added semicolons everywhere and the ones in class properties aren't picked up or auto-fixable.

[2020-10-21 20:52] feross commented on #1518
I'm working on this today.

[2020-10-21 21:02] #1526 closed

[2020-10-21 21:26] feross opened #1551 "Support EcmaScript 2021"
Support ES 2021, the latest version of the ECMAScript specification, which includes support for [logical assignment operators](https://github.com/tc39/proposal-logical-assignment) and [numeric separators](https://github.com/tc39/proposal-numeric-separator).

[2020-10-21 21:29] #1551 closed

[2020-10-21 21:34] feross opened #1552 "Disallow Number Literals That Lose Precision (no-loss-of-precision)"
https://eslint.org/docs/rules/no-loss-of-precision

This rule would disallow the use of number literals that immediately lose precision at runtime when converted to a JS `Number` due to 64-bit floating-point rounding.

## Rule Details

In JS, `Number`s are stored as double-precision floating-point numbers according to the [IEEE 754 standard](https://en.wikipedia.org/wiki/IEEE_754). Because of this

[2020-10-21 21:34] feross commented on #1552
No ecosystem impact. Shipping in standard v15.

[2020-10-21 21:35] #1552 closed

[2020-10-21 21:36] feross opened #1553 "Enforce default clauses in switch statements to be last (default-case-last)"
https://eslint.org/docs/rules/default-case-last

A `switch` statement can optionally have a `default` clause.

If present, it's usually the last clause, but it doesn't need to be. It is also allowed to put the `default` clause before all `case` clauses, or anywhere between. The behavior is mostly the same as if it was the last clause. The `default` block will be still executed only if there is no

[2020-10-21 21:38] feross commented on #1553
No ecosystem impact. Shipping in standard v15.

[2020-10-21 21:38] #1553 closed

[2020-10-21 21:39] feross opened #1554 "Disallow useless backreferences in regular expressions (no-useless-backreference)"
https://eslint.org/docs/rules/no-useless-backreference

In JavaScript regular expressions, it's syntactically valid to define a backreference to a group that belongs to another alternative part of the pattern, a backreference to a group that appears after the backreference, a backreference to a group that contains that backreference, or a backreference to a group that is inside a negative lookarou

[2020-10-21 21:45] feross commented on #1554
No ecosystem impact. Shipping in standard v15.

[2020-10-21 21:46] #1554 closed

[2020-10-21 22:01] feross opened #1555 "Disallow returning values from Promise executor functions (no-promise-executor-return)"
https://eslint.org/docs/rules/no-promise-executor-return

The `new Promise` constructor accepts a single argument, called an *executor*.

[code]

The executor function usually initiates some asynchronous operation. Once it is finished, the executor should call `resolve` with the result, or `reject` if an error occurred.

The return value of the executor is ignored. Returning a value from an execut

[2020-10-21 22:06] feross commented on #1555
5 ecosystem failures:

[code]

Some code is improved by removed the extra `return` statement, like these:

[code]

[code]

Other cases, like for one-line arrow functions, I wish we could ignore:

[code]

[code]

[code]

[2020-10-21 22:07] feross commented on #1555
I'd like to include this rule, since I think that returning from the promise executor function is a likely error or at the very least confusing, but I don't think we can do it unless there's an option to ignore single-line arrow functions.

Would someone like to champion adding an option to this rule with the ESLint team?

[2020-10-21 22:10] feross opened #1556 "Disallow loops with a body that allows only one iteration (no-unreachable-loop)"
https://eslint.org/docs/rules/no-unreachable-loop

A loop that can never reach the second iteration is a possible error in the code.

[code]

In rare cases where only one iteration (or at most one iteration) is intended behavior, the code should be refactored to use `if` conditionals instead of `while`, `do-while` and `for` loops. It's considered a best practice to avoid using loop constructs for

[2020-10-21 22:16] feross commented on #1478
This feature is still [Stage 3](https://github.com/tc39/proposal-static-class-features) and it's ESLint policy to only support Stage 4 proposals.

In the meantime, you can enable support with `babel-eslint` by following the instructions here: https://standardjs.com/#how-do-i-use-experimental-javascript-es-next-features

[2020-10-21 22:17] feross commented on #1478
Closing this as there's nothing to fix in `standard`.

[2020-10-21 22:17] #1478 closed

[2020-10-21 22:17] #1485 closed

[2020-10-21 22:23] feross commented on #1548
Thanks for the suggestion @davidmarkclements and for the helpful discussion @dougwilson. Unfortunately, there's not much we can do to easily enable support for this. The language parser used by ESLint has a policy of not supporting features until Stage 4.

So this is not solvable unless we decide to start shipping the `babel-eslint` parser instead of the default ESLint one, which is a much larger

[2020-10-21 22:25] feross commented on #1556
Only 1 ecosystem failure:

[code]

IMO, this is confusing code since there is never any actual looping.

So let's enable this rule. Shipping in standard v15.

[2020-10-21 22:26] #1556 closed

[2020-10-21 23:03] #1436 closed

[2020-10-21 23:05] feross opened #1557 "Add ES2021 Globals"
Building on this PR (https://github.com/standard/eslint-config-standard/pull/156), let's add support for ES2021 globals.

[2020-10-21 23:09] feross commented on #1436
This will be fixed in standard v15.

[2020-10-21 23:11] #1557 closed

[2020-10-21 23:17] feross commented on #1406
This will ship in standard v15.

[2020-10-21 23:19] #1406 closed

[2020-10-21 23:33] feross commented on #927
@sheerun Thanks for championing this new option for the `indent` rule in ESLint. We'll ship it in standard v15.

[code]

Affects 4% of the ecosystem.

These packages need PRs to update to the new style:

- [ ] [testdouble](https://github.com/testdouble/testdouble.js)
- [ ] [pino](https://github.com/pinojs/pino)
- [ ] [leveldown](https://github.com/Level/leveldown)
- [ ] [webtorrent-desktop](https:

[2020-10-21 23:42] feross opened #1558 "Enforce newlines between operands of ternary expressions if the expression spans multiple lines (multiline-ternary)"
https://eslint.org/docs/rules/multiline-ternary

Desired config:

[code]

JavaScript allows operands of ternary expressions to be separated by newlines, which can improve the readability of your program.

For example:

[code]

The above can be rewritten as the following to improve readability and more clearly delineate the operands:

[code]

## Rule Details

This rule enforces or disallows newline

[2020-10-21 23:45] feross commented on #927
It seems like this rule makes some silly decisions. For example:

[code]

It's doing 4 spaces after the first ternary. However, when I also enable `multiline-ternary` (https://github.com/standard/standard/issues/1558) then this works:

[code]

Which makes a lot more sense.

[2020-10-21 23:51] feross commented on #927
@sheerun @mightyiam @brodybits @josephfrazier Any interest in helping send PRs to the remaining 5 repos in https://github.com/standard/standard/issues/927#issuecomment-713982481 ?

[2020-10-22 00:02] feross commented on #1558
This rule seems to have a bug, which I've filed against ESLint here: https://github.com/eslint/eslint/issues/13782

[2020-10-22 00:11] feross commented on #1558
Nevermind, I was misunderstanding the rule.

[2020-10-22 00:12] feross commented on #1558
3% ecosystem impact.

[code]

PRs need to be sent to these packages:

- [ ] [assets-webpack-plugin](https://github.com/ztoben/assets-webpack-plugin)
- [ ] [eslint-plugin-standard](https://github.com/standard/eslint-plugin-standard)
- [ ] [browser-supports-log-styles](https://github.com/gr2m/browser-supports-log-styles)
- [ ] [couchdb-push](https://github.com/jo/couchdb-push)
- [ ] [aerospike](http

[2020-10-22 00:15] #1558 closed

[2020-10-22 00:15] #927 closed

[2020-10-22 00:20] feross commented on #1559
In general, we're hesitant to add rules which involve "magic numbers" since we want it to be possible for someone to write code that complies with `standard` without needing to memorize numbers or count how many statements are on a line, etc.

In the future, I'd like to add more aggressive prettier-style code formatting and we can enforce a max line length when the user asks for their code to be f

[2020-10-22 00:23] feross commented on #1518
This will be released in standard v15.

[2020-10-22 00:23] #1518 closed

[2020-10-22 00:24] feross commented on #1509
Yes! This will be implemented in `standard` v15, which will be released later today. 🌟

[2020-10-22 00:24] #1509 closed

[2020-10-22 00:25] feross commented on #1539
We're upgrading to ESLint 7.11.0 in `standard` v15, which will be released later today!

[2020-10-22 00:25] #1539 closed

[2020-10-22 00:25] feross commented on #1542
Yep! You'll need to use `babel-eslint`. Instructions are here: https://standardjs.com/#how-do-i-use-experimental-javascript-es-next-features

[2020-10-22 00:26] #1542 closed

[2020-10-22 00:28] #1534 closed

[2020-10-22 02:57] feross commented on #1560
standard 15.0.0 is released! This release took me 6 hours of work to put together.

Announcement tweet: https://twitter.com/StandardJS/status/1319109569675554816
Changelog: https://standardjs.com/changelog.html#1500---2020-10-21

Hope you enjoy it!

[2020-10-22 02:58] #1560 closed

[2020-10-22 23:50] davidmarkclements commented on #1548
Thanks @dougwilson and thanks @feross for a helpful discussion ✌️

[2020-10-23 07:04] LinusU commented on #1559
I'm personally very much against line length limits. My preferred line length limit at any time depends entirely on what size my code editor happens to be at that time.

I think it's better to let the editor show lines in the best possible way instead, e.g. how Xcode works by default (I think)

[2020-10-23 07:46] NemoStein opened #1561 "Rule suggestion: no-promise-executor-return"
Returning inside a promise executor is most certainly an error as the return value cannot be used.
Since Standard 15 comes with ESLint v7, the `no-promise-executor-return` rule could be added.

[2020-10-23 18:10] feross commented on #1546
Yep, let's keep this as-is :)

[2020-10-23 18:10] #1546 closed

[2020-10-23 18:14] feross commented on #1549
Thanks for the bug report. I can't reproduce this issue with a `foo.js` containing just the code you posted.

@searls Can you try again using `standard` 15.0.0 which was released two days ago? There's a decent chance that the bug is fixed in that release?

[2020-10-23 18:33] feross commented on #1561
Duplicate of https://github.com/standard/standard/issues/1555

[2020-10-23 18:33] #1561 closed

[2020-10-23 18:36] #1559 closed

[2020-10-24 12:37] searls commented on #1549
Huzzah! 15 works. Great job as always, @feross & friends 💖

[2020-10-24 12:37] #1549 closed

[2020-10-26 11:44] s100 opened #1564 "No way to format ternary JSX expressions?"
**What version of this package are you using?**

`standard@15.0.0` with `eslint@7.11.0`

**What operating system, Node.js, and npm version?**

Windows 10, Node.js 10.17.0, npm 6.11.3

**What happened?**

Here's my source file:

[code]

Standard gives me:

[code]

OK so it looks like the second expression in a ternary needs a little extra indentation. I'll fix my test file:

[code]

Standard now gi

[2020-10-26 19:22] pal commented on #1524
Did you find a work-around @zeke?

[2020-10-27 04:11] #1525 closed

[2020-10-27 04:11] #1523 closed

[2020-10-27 04:11] #1489 closed

[2020-10-27 04:15] feross commented on #1524
[Static class features](https://github.com/tc39/proposal-static-class-features) is still Stage 3 and it's ESLint policy to only support Stage 4 proposals.

In the meantime, you can enable support with `babel-eslint` by following the instructions here: https://standardjs.com/#how-do-i-use-experimental-javascript-es-next-features

Also, duplicate of https://github.com/standard/standard/issues/1478

[2020-10-27 04:15] #1524 closed

[2020-10-27 22:01] #1501 closed

[2020-10-28 02:46] feross commented on #1564
Agreed – this is a bug. Working on a fix.

[2020-10-28 02:49] feross opened #1565 "Enforce ES5 or ES6 class for returning value in render function (react/require-render-return)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/require-render-return.md

# Enforce ES5 or ES6 class for returning value in render function (react/require-render-return)

When writing the `render` method in a component it is easy to forget to return the JSX content. This rule will warn if the `return` statement is missing.

## Rule Details

Examples of **incorrect** code fo

[2020-10-28 02:50] feross opened #1566 "Prevent invalid characters from appearing in markup (react/no-unescaped-entities)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-unescaped-entities.md

---

From my testing, the configuration with no false positives is:

[code]

---

This rule prevents characters that you may have meant as JSX escape characters
from being accidentally injected as a text node in JSX statements.

For example, if one were to misplace their closing `>` in a tag:

[code]

[2020-10-28 02:51] feross opened #1567 "Prevent using string references (react/no-string-refs)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-string-refs.md

Currently, two ways are supported by React to refer to components. The first way, providing a string identifier, is now considered legacy in the official documentation. The documentation now prefers a second method -- referring to components by setting a property on the `this` object in the reference callbac

[2020-10-28 02:51] feross opened #1568 "Prevent usage of the return value of ReactDOM.render (react/no-render-return-value)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-render-return-value.md

Source: [ReactDOM documentation](https://facebook.github.io/react/docs/react-dom.html#render)

## Rule Details

This rule will warn you if you try to use the `ReactDOM.render()` return value.

Examples of **incorrect** code for this rule:

[code]

Examples of **correct** code for this rule:

[code]

[2020-10-28 02:52] feross opened #1569 "Prevent usage of isMounted (react/no-is-mounted)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-is-mounted.md

[`isMounted` is an anti-pattern][anti-pattern], is not available when using ES6 classes, and it is on its way to being officially deprecated.

[anti-pattern]: https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html

## Rule Details

Examples of **incorrect** code for this rule:

[code]

Ex

[2020-10-28 02:52] feross opened #1570 "Prevent usage of findDOMNode (react/no-find-dom-node)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-find-dom-node.md

Facebook will eventually deprecate `findDOMNode` as it blocks certain improvements in React in the future.

It is recommended to use callback refs instead. See [Dan Abramov comments and examples](https://github.com/yannickcr/eslint-plugin-react/issues/678#issue-165177220).

## Rule Details

Examples of **i

[2020-10-28 02:53] feross opened #1571 "Prevent direct mutation of this.state (react/no-direct-mutation-state)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-direct-mutation-state.md

NEVER mutate `this.state` directly, as calling `setState()` afterwards may replace
the mutation you made. Treat `this.state` as if it were immutable.

The only place that's acceptable to assign this.state is in a ES6 `class` component constructor.

## Rule Details

This rule is aimed to forbid the

[2020-10-28 02:53] feross opened #1572 "Prevent usage of deprecated methods (react/no-deprecated)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-deprecated.md

Several methods are deprecated between React versions. This rule will warn you if you try to use a deprecated method. Use the [shared settings](/README.md#configuration) to specify the React version.

## Rule Details

Examples of **incorrect** code for this rule:

[code]

Examples of **correct** code for this

[2020-10-28 02:53] feross opened #1573 "Prevent problem with children and props.dangerouslySetInnerHTML (react/no-danger-with-children)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-danger-with-children.md

This rule helps prevent problems caused by using children and the dangerouslySetInnerHTML prop at the same time.
React will throw a warning if this rule is ignored.

## Rule Details

Examples of **incorrect** code for this rule:

[code]

[code]

Examples of **correct** code for this rule:

[code]

[

[2020-10-28 02:54] feross opened #1574 "Prevent passing of children as props (react/no-children-prop)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-children-prop.md

Children should always be actual children, not passed in as a prop.

When using JSX, the children should be nested between the opening and closing
tags. When not using JSX, the children should be passed as additional
arguments to `React.createElement`.

## Rule Details

Examples of **incorrect** code for t

[2020-10-28 02:56] feross opened #1575 "Check if the shorthand fragment syntax requires a key prop (react/jsx-key)"
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-key.md

---

Let's enable the new option `checkFragmentShorthand` in `standard`:

[code]

---

Warn if an element that likely requires a `key` prop--namely, one present in an
array literal or an arrow function expression.

## Rule Options

[code]

### `checkFragmentShorthand` (default: `false`)

When `true` the rule will c

[2020-10-28 03:12] feross commented on #1564
Fixed in 15.0.1.

[2020-10-28 03:12] #1564 closed

[2020-10-28 03:14] feross commented on #1564
Duplicate of https://github.com/standard/eslint-config-standard/issues/177

[2020-10-28 04:09] feross opened #1576 "JSX: Prevent usage of unsafe `target='_blank'` on any component named `Link`"
Prevent usage of unsafe `target='_blank'` on any component named `Link` ([react/jsx-no-target-blank](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-target-blank.md))

We already enforce this for `a` tags. Let's also enforce it for any component named `Link` to cover the common case in most UI frameworks.

[2020-10-28 04:19] feross opened #1577 ""React version missing" warning"
The `eslint-plugin-react` package emits a warning to stdout or stderr when this is not specified. Let's specify it explicitly as the latest react version to make it go away.

I considered using the `'detect'` option but it leads to warnings when no `react` package is installed in the project, which is unacceptable.

[2020-10-28 04:33] feross opened #1578 "Relax rule: Don't warn about camelcase for React UNSAFE_* methods"
Let's let code like this by without a warning about camelcase, since it's already quite clear that the code is unsafe/bad and the camelcase is the least of the issues:

[code]

[2020-10-28 04:48] #1576 closed

[2020-10-28 04:48] #1574 closed

[2020-10-28 04:48] #1575 closed

[2020-10-28 04:48] #1578 closed

[2020-10-28 04:48] #1571 closed

[2020-10-28 04:48] #1572 closed

[2020-10-28 04:48] #1573 closed

[2020-10-28 04:48] #1569 closed

[2020-10-28 04:48] #1570 closed

[2020-10-28 04:48] #1567 closed

[2020-10-28 04:48] #1568 closed

[2020-10-28 04:48] #1565 closed

[2020-10-28 04:48] #1566 closed

[2020-10-28 04:48] #1577 closed

[2020-10-28 04:48] #1382 closed

[2020-10-28 04:53] feross commented on #1457
You're technically right, and maybe we should change it. But I chose this because I'd rather not block people in case the new version of ESLint somehow works. Let's leave it up to the user. They'll get an error from ESLint if there's a breaking change.

[2020-10-28 10:18] s100 commented on #1564
With `standard@15.0.1`, I find that this is considered correct:

[code]

Thank you for the prompt fix! We are now unblocked. 🚀 (Although, subjectively, I think this formatting looks rather strange.)

[2020-10-28 17:40] feross commented on #1457
Actually, reconsidering this, I think you're right.

[2020-10-28 18:32] feross commented on #1564
@s100 Great! What formatting would you prefer?

[2020-10-28 19:26] feross commented on #1007
To support TS directly in `standard`, do we need to just add some config to `eslintrc.json` in this repo?

[code]

I think we might also need changes in `standard-engine`?

cc @mightyiam @toddbluhm

[2020-10-28 19:37] feross commented on #796
I think we can merge this now with this config:

[code]

The examples I pointed out before can be worked around by including a comment inside the empty body, which explains the reason that it's empty. I think this might have been an addition later to the rule?

And the other example can be rewritten as @dcousens pointed out.

Let's include in standard 16.

[2020-10-28 19:39] #1457 closed

[2020-10-28 19:39] #796 closed

[2020-10-28 19:49] feross commented on #859
About 7% ecosystem effect:

[code]

Examples of failures that I think are good errors to report:

[code]

[code]

More marginal cases where more explicitness doesn't hurt:

[code]

[code]

[2020-10-28 20:08] feross commented on #889
It's not clear that there's an ESLint rule for this, so I'm going to close this issue. If this is not the case, please comment or re-open.

[2020-10-28 20:08] #889 closed

[2020-10-28 20:10] feross commented on #891
It seems like the `no-redeclare` rule has gotten stricter because this example is caught by the latest standard v15:

[code]

Closing this issue.

[2020-10-28 20:10] #891 closed

[2020-10-28 20:15] feross commented on #915
https://github.com/zertosh/eslint-plugin-dependencies appears unmaintained, so I'm closing this.

[2020-10-28 20:15] #915 closed

[2020-10-28 20:21] feross commented on #419
Once express ships https://github.com/expressjs/express/issues/2896 we can enable this rule. In the meantime, we're blocked.

[2020-10-28 20:39] feross commented on #557
@dcousens @LinusU Hmm, honestly, I'm not so sure that we should discourage the inclusion of parameters even if they're unused, especially for anonymous functions used as callbacks. For example:

[code]

Removing the `cb` parameter here just loses information.

On the other hand, if it's a named function, and not a callback, then I think it's useful. For example:

[code]

It's confusing to have a `

[2020-10-28 20:39] feross commented on #557
Let's move discussion to https://github.com/standard/standard/issues/419

[2020-10-28 20:39] #557 closed

[2020-10-28 20:39] feross commented on #419
Hmm, honestly, I'm not so sure that we should discourage the inclusion of parameters even if they're unused, especially for anonymous functions used as callbacks. For example:

[code]

Removing the `cb` parameter here just loses information.

On the other hand, if it's a named function, and not a callback, then I think it's useful. For example:

[code]

It's confusing to have a `max` and `min` par

[2020-10-28 23:45] feross commented on #1543
I can't reproduce this.

It's not possible to debug this issue without additional information. If this is still an issue, please leave a comment or open a new issue.

[2020-10-28 23:45] #1543 closed

[2020-10-28 23:47] feross commented on #1532
Duplicate: https://github.com/standard/standard/issues/633

[2020-10-28 23:47] #1532 closed

[2020-10-28 23:49] feross commented on #1540
It's not possible to debug this issue without additional information, like a code sample. Please try again with the latest version of `standard`. I think that the errors you posted may be JSX related, and auto-fixing has gotten better for those rules.

If this is still an issue, please leave a comment or open a new issue.

[2020-10-28 23:49] #1540 closed

[2020-10-28 23:52] feross commented on #1023
I'm removing `deglob` for `standard` 16. So this issue will be fixed for free!

[2020-10-28 23:54] feross commented on #959
Looks like this rule was improved at some point in ESLint and it's no longer an issue in the latest `standard`, v15.

[2020-10-28 23:54] #959 closed

[2020-10-28 23:54] feross commented on #1301
It's not possible to debug this issue without additional information. If this is still an issue, please leave a comment or open a new issue.

[2020-10-28 23:54] #1301 closed

[2020-10-28 23:55] feross commented on #1357
@mightyiam Can this issue be closed now?

[2020-10-28 23:55] #1375 closed

[2020-10-28 23:55] feross commented on #1375
Hope to see you in Discord! Closing this issue now :)

[2020-10-28 23:56] #1409 closed

[2020-10-28 23:58] feross commented on #1324
@bcomnes I'd like to give this another try. Can you add me as an admin to the `standardjs` organization?

[2020-10-28 23:59] bcomnes commented on #1324
sure thing

[2020-10-29 00:00] bcomnes commented on #1324
I can make you admin when you accept @feross please ping me. I have no idea how good or bad npm notifications are.

[2020-10-29 00:03] feross commented on #1324
@bcomnes Thanks for the incredibly fast reply. Just accepted.

[2020-10-29 00:04] feross commented on #1422
@mightyiam Do you have a suggested configuration?

[2020-10-29 00:04] bcomnes commented on #1324
Ok you are owner! feel free to keep me around or demote me.

[2020-10-29 00:09] feross commented on #1324
Alright! Everyone with publish permissions on the `standard` package should have received an invite to the @standardjs npm organization.

[2020-10-29 00:10] feross commented on #1324
Some folks may have been left out. If you part of the @standard GitHub organization and also have npm publish rights on one of the other standard packages, please comment here and I will add you to the `standardjs` npm organization.

[2020-10-29 00:15] feross commented on #1324
Last thing – I just removed publishers from the npm package who lack 2FA. Please enable 2FA before accepting your new npm organization invite.

[2020-10-29 00:20] feross commented on #1421
Ternaries are really dense, so the style we prefer in `standard` discourages it by requiring indentation:

[code]

Or, you can use explicit if-elses:

[code]

I'm not interested in reconsidering this decision at the moment, so I'm closing this issue. But feel free to continue discussion in this issue.

[2020-10-29 00:20] #1421 closed

[2020-10-29 00:27] feross commented on #1384
I can no longer reproduce this issue, so perhaps it was fixed upstream in `ignore`? In either case, we're removing `deglob` (which was invoking `ignore`) in the next version of `standard`, v16.

So, this issue should be fixed!

[2020-10-29 00:27] feross commented on #1520
I fixed this when I released standard 15.

[2020-10-29 00:27] #1520 closed

[2020-10-29 00:29] feross commented on #1533
You may be running two different versions of `standard`, one local and one global. What do you get when you run:

[code]

[2020-10-29 00:29] feross commented on #1533
I'm closing this issue since I doubt there's a bug to fix here, but feel free to continue discussion! ✨

[2020-10-29 00:29] #1533 closed

[2020-10-29 00:35] feross commented on #1530
Thanks for chiming in @dougwilson and @LinusU.

Both Node.js and Electron are still using `standard`:

https://github.com/nodejs/node-gyp
https://github.com/nodejs/changelog-maker
https://github.com/nodejs/node-core-utils

https://github.com/electron/electron
https://github.com/electron/electron-packager
https://github.com/electron-userland/spectron
https://github.com/electron-userland/devtron
htt

[2020-10-29 00:35] #1530 closed

[2020-10-29 00:36] feross commented on #1499
Thanks for the issue. This is fixed in `standard` 15.0.1

[2020-10-29 00:41] feross commented on #1499
Scratch that – this is yet another case that we missed. Will fix it in `standard` v16!

[2020-10-29 00:49] feross commented on #1507
We chose the "operator goes before the linebreak" style because when you look at a line we want there to be an indication that the statement is "unfinished" and you need to read the next line.

I don't think we want to change this at this time.

[2020-10-29 00:49] #1507 closed

[2020-10-29 00:59] searls commented on #1023
Woohoo! Thanks @feross!

[2020-10-29 01:06] #1023 closed

[2020-10-29 01:06] #1117 closed

[2020-10-29 01:06] #1333 closed

[2020-10-29 01:06] #1384 closed

[2020-10-29 01:20] feross commented on #1384
This will be fixed in `standard` 16

[2020-10-29 01:20] feross commented on #1023
This will be fixed in `standard` 16

[2020-10-29 01:20] feross commented on #1117
This will be fixed in `standard` 16

[2020-10-29 01:20] feross commented on #1333
This will be fixed in `standard` 16

[2020-10-29 01:53] feross commented on #1355
I attempted to get this working for `standard` 16 but ran into issues. Help would be appreciated to figure it out!

Here's what I tried:

## eslint-config-standard

1. Install `eslint-plugin-markdown` as a peer dep of `eslint-config-standard` (2.0.0-rc.0 was latest at the time)
2. Add `"extends": ["plugin:markdown/recommended"]` to the `eslint.json` file.

## standard

1. Install `eslint-plugin-ma

[2020-10-29 01:55] #1499 closed

[2020-10-29 01:55] feross commented on #1499
This will be in the standard 16 release

[2020-10-29 01:57] feross commented on #1324
cc @standard/folks Please see my last few comments!

[2020-10-29 01:57] #1324 closed

[2020-10-29 01:58] feross commented on #1550
Hi there! Thanks for the offer to help! Can you send a PR to use Dependabot?

[2020-10-29 02:04] feross commented on #932
In a previous version (can't remember which), we now enforce this style:

[code]

[2020-10-29 02:04] #932 closed

[2020-10-29 02:09] feross commented on #1416
No ecosystem failures!

This will ship in standard 16.

[2020-10-29 02:10] #859 closed

[2020-10-29 02:10] #1416 closed

[2020-10-29 02:14] feross commented on #1429
No ecosystem impact. This is shipping in `standard` 16!

[2020-10-29 02:17] feross commented on #1429
There's a new option: `"enforceForIndexOf": true` which disallows the use of indexOf and lastIndexOf methods with NaN. Let's enable it as well.

[2020-10-29 02:19] #1429 closed

[2020-10-29 03:02] feross commented on #1414
Only 1 failing repo. This will ship in standard 16!

[2020-10-29 03:06] feross commented on #1413
0% ecosystem impact. This will ship in standard 16.

[2020-10-29 03:07] #1413 closed

[2020-10-29 03:10] feross commented on #1412
Only 1 failing ecosystem repo. This is the code:

[code]

Seems easy enough for them to add an `// eslint-ignore` comment when doing something hacky like this. Otherwise, this is a good rule.

This will ship in standard 16!

[2020-10-29 03:14] #1412 closed

[2020-10-29 03:18] #1400 closed

[2020-10-29 03:18] feross commented on #1400
0% ecosystem failure. This will ship in standard 16!

[2020-10-29 03:22] feross commented on #1415
I agree that there seem to be valid use cases that this rule would prevent, but in practice it seems that it hasn't been an issue even though it's been enabled since this rule has been present (`"setWithoutGet": true` is the default).

So, let's also enforce it in classes to be consistent.

[2020-10-29 03:22] feross commented on #1415
0% ecosystem impact. This will ship in `standard` 16.

[2020-10-29 03:23] #1415 closed

[2020-10-29 03:28] feross commented on #1008
I think the best configuration for this rule is:

[code]

Examples of **incorrect** code for this rule with the `"multiline-arguments"` option:

[code]

Examples of **correct** code for this rule with the consistent `"multiline-arguments"` option:

[code]

[2020-10-29 03:44] feross commented on #1008
13% ecosystem breakage. But it's auto-fixable, which reduces the impact.

[code]

Examples that are not ideal:

[code]

And ESLint seems to have sub-par automatic formatting in some cases. I opened a bug: https://github.com/eslint/eslint/issues/13801

Let's re-examine this later to see if it has improved.

[2020-10-29 03:48] feross commented on #1182
This issue should be fixed in standard v16 because of an improvement to `standard-engine`.

It would be great if someone could test this on your project to confirm, once `standard` 16 is released.

[2020-10-29 03:48] #1182 closed

[2020-10-29 03:54] feross commented on #1115
Sorry for the delay – this will be fixed in `standard` 16!

[2020-10-29 03:55] #1115 closed

[2020-10-29 03:55] feross commented on #785
Agree, we should look at a way to allow this to be configured.

[2020-10-29 04:01] feross commented on #1352
Okay, let's keep the rule for now. Still open to potentially removing it in a few years once async-await has near 100% usage over callbacks.

Feel free to continue discussion, but closing this issue for now.

[2020-10-29 04:01] #1352 closed

[2020-10-29 04:04] #1316 closed

[2020-10-29 04:08] feross commented on #1358
I believe this is fixed in `standard` 16.

[2020-10-29 04:08] #1358 closed

[2020-10-29 04:11] #1474 closed

[2020-10-29 04:11] feross commented on #1474
This will ship in `standard` 16

[2020-10-29 04:14] feross commented on #785
There's a much more thorough discussion in this issue: https://github.com/standard/standard/issues/351

Closing in favor of that one.

[2020-10-29 04:14] #785 closed

[2020-10-29 04:15] feross commented on #351
I would like to address this in a future version of `standard`. Does anyone have interest in sending a PR to `standard-engine` to add a `jsxPragma` option that can get picked up from the `package.json` configuration key?

[2020-10-29 05:22] feross commented on #633
I'm going to merge this for `standard` 16. **_It's finally time!!_**

[2020-10-29 05:23] feross commented on #633
If you're a fan of this rule, I'd really appreciate if you could send PRs to even a few of the failing repos in https://github.com/standard/eslint-config-standard/pull/152#issue-303658454 to help them out. This will also help all of us out, since **I effectively had to disable 59% of the test suite** to get this rule merged in and that means we'll be flying blind for future rules in the next versi

[2020-10-29 05:36] feross opened #1581 "Release proposal: 16.0.0"
Changes are here: https://github.com/standard/standard/milestone/9?closed=1

Releasing it now!

[2020-10-29 05:36] feross commented on #1581
Released!

[2020-10-29 05:36] #1581 closed

[2020-10-29 08:12] HonkingGoose commented on #1550
Will do. Can you please assign me to this issue. I'll open a pull request for you when I have time. :wink:

https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/assigning-issues-and-pull-requests-to-other-github-users

[2020-10-29 09:36] voxpelli commented on #1322
Starting with Node 15 which was just released, unhandled rejections will start throwing, so probably even more reason to add this.

I'm at your disposal to get this added @feross 👍

[2020-10-29 09:55] s100 commented on #1564
Thanks for asking! My preferred formatting would be:

[code]

The reason I prefer this is:

1. The indentation of the line where the `)` appears is the same as the indentation of the line where `(` originally appears (2 spaces).
2. Every line between the `(` and `)` is indented by 2 spaces more than the lines where the `(` and `)` appear (*i.e.* 4 spaces).

This is consistent with other bracketed

[2020-10-29 11:41] LinusU commented on #351
React is moving away from requiring that `React` is in scope, and instead the jsx transpiler adds the appropriate import. Maybe the way forward is to simply disable this rule? 🤔

[2020-10-29 21:23] Divlo commented on #1007
@feross To support TypeScript, we should look to integrate `ts-standard` into the `standardjs` organization, that would be awesome!

[2020-10-29 21:34] feross commented on #1007
@Divlo Happy to do that if @toddbluhm thinks it will help more people see it/find it. But I'm more interested in offering out-of-the-box support for `.ts` files since it appears that this is built in to ESLint now.

[2020-10-29 21:40] Divlo commented on #1007
Oh well, out-of-the-box support for `.ts` files (I suppose for `.tsx` files too), that's an interesting solution.
What need to be done to support TypeScript out-of-the-box with `standard` ? I'm glad to help if needed.

[2020-10-29 21:42] toddbluhm commented on #1007
While I do like `ts-standard`, I completely agree with @feross and would rather have ts support built into `standard` itself.

One issue to overcome that I had to figure out with `ts-standard` was setting/finding the location of the `tsconfig.json` file in each project. We can probably go with the assumption that the `tsconfig.json` file is always in the root folder and then implement a flag to al

[2020-10-29 22:36] Divlo commented on #1007
Also is this issue #1283 is related to this one ?

[2020-10-29 23:20] feross opened #1583 "Apply indentation rules to template literals (indent)"
BREAKING CHANGE: Remove `"TemplateLiteral *"` from the `"ignoredNodes"` in the `indent` rule. This allows the `indent` rule to apply to template literal strings.

It's the source of the auto-fixing bug that was blocking https://github.com/standard/standard/issues/1008 from being included. Here's where I (incorrectly) reported the bug to ESLint: https://github.com/eslint/eslint/issues/13801

[2020-10-29 23:21] feross commented on #1008
The ESLint bug was a false alarm. The auto-fix formatting issue can be addressed by fixing https://github.com/standard/standard/issues/1583 and then this rule can be included.

[2020-10-29 23:25] feross commented on #1007
Hmm, I'm not familiar with `tsconfig.json`. My first impression is that adding a config file doesn't seem in the spirit of `standard`. Ideally we still support the workflow of `npx standard` and you automatically get useful output.

What sorts of rules are enabled by adding `tsconfig.json` and how important is it?

[2020-10-29 23:27] feross commented on #351
@LinusU Happy to do that! But if we do that will we get another error related to using an undefined variable?

[2020-10-29 23:35] mcollina commented on #633
I just got 50-something notifications (possibly reaching the hundred soon) of failing test suite because of this change.

Given that you had to disable 59% of the test suite.. maybe that was a good indication that this was not a good change.

I think the massive disruption alone is not really worth the change, and I kindly ask to reconsider this.

[2020-10-29 23:53] feross commented on #1322
@voxpelli Can you propose a configuration for the rule? As well as testing ecosystem breakage with that setting?

[code]

Report the final test output, number of tests passed/failed. You can also share representative examples of failures that you agree with and ones that are not ideal.

Thanks for offering to help!

[2020-10-30 00:21] feross commented on #633
@mcollina I agree that this is a large change. However, I don't think we want to allow `var` usage forever. In new codebases most teams are already enforcing a `let` and `const` only rule, without any help from `standard`.

We've generally been *extremely* conservative in enforcing the usage of new language features. People have been asking for this rule since 2016 but I just merged it now in 2020

[2020-10-30 00:23] feross commented on #633
One idea – for rule changes as disruptive as this, perhaps we can offer a "transition period" where the rule change is only a "warning" for one full major version (doesn't return a failure exit code, but still prints to the console).

During the transition period, using `standard --fix` will update your code so that it's ready for the next major version.

Thoughts?

[2020-10-30 03:07] feross commented on #633
@davidmarkclements The auto-fixer is relatively conservative here. It refuses to automatically change `var` to `let` when that might lead to breakage. In these cases, you have to go in and manually change the `var` to `let`/`const` yourself or ignore it with a comment like `/* eslint-disable no-var */` or `// eslint-disable-line no-var`.

[2020-10-30 05:00] toddbluhm commented on #1007
## TLDR;

A `tsconfig.json` or `tsconfig.eslint.json` file is required if we wish to take full advantage of the `typescript-eslint` parser with type-aware rules. The current `eslint-config-standard-with-typescript` uses some type-aware rules, but I am not sure which ones are type-aware.  We should probably document that in `eslint-config-standard-with-typescript` at some point.

## tsconfig.json

[2020-10-30 06:38] mcollina commented on #633
I really love this idea. I'm mainly concerned with the gargantuan work of updating all the repos, all at once. Having a few months of a timeframe to update them all is really important.

The stability and "slow" adoption of features in standard has been one of the key reasons to use standard for me.

---

Note that in node 6 and 8 using let carried a _massive_ performance penalty. Applying this ru

[2020-10-30 08:45] feross commented on #633
@mcollina Thanks for clarifying. It’s good to hear that you agree with the rule change but you just want a more gradual way to migrate all your repos.

The slow and careful approach is always what I strive for with standard. My goal for standard is to gradually and steadily make our code better without being overbearing.

Glad to hear that my suggestion of a "transition period" with warnings addre

[2020-10-30 14:21] mafintosh commented on #633
Congrats on 16!

`var` hoisting has its use-cases, sad to see it go, but understand that making rules based on small use-cases is tricky (other than the obvs massive breakage) for something like standard.

Can you remove my failing repos from the tests? I prefer to deal with the upgrades and the needed major bumps at my own pace. Happy to add them back if we ever upgrade to standard 16 there.

[2020-10-30 16:09] LinusU commented on #633
Would love to see some examples of this, from anyone. It's not a pattern I'm familiar with myself... (absolutely not saying that it isn't a valid use case)

Should be mention to anyone submitting PRs to fix failing repos to check the `engines` tag in their package.json to make sure that it can be done without a major version, and if it cannot be done without major version be very clear with that a

[2020-10-30 19:40] dziku86 opened #1584 "internal/validators.js:107 throw new ERR_INVALID_ARG_TYPE(name, 'string', value);"
**What version of this package are you using?**
16.0.0
**What operating system, Node.js, and npm version?**
Win7x86, Node.js v12.5.0, npm@6.9.0
**What happened?** running `standard` in local folder and getting this error:
`internal/validators.js:107
    throw new ERR_INVALID_ARG_TYPE(name, 'string', value);
TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Rceived type

[2020-10-30 20:33] feross opened #1585 "Make `--verbose` the default"
I'd like to consider making the `--verbose` flag the default, and then removing the flag.

So output will be:

[code]

Instead of:

[code]

Benefits:
- Clearer which rule is being violated, so you can Google it / add a comment to disable it
- One less command line flag in the tool

Cons:
- More info in the error message, might be confusing for new users

Thoughts?

[2020-10-30 20:33] feross commented on #1585
Can I get feedback on this from @standard/folks @mcollina ?

[2020-10-30 20:35] mcollina commented on #1585
Go for it. I'd love to have the name of the rule in the error... so I could google it easier, or maybe skip it.

[2020-10-30 20:35] Flet commented on #1585
100% in favor here too.

[2020-10-30 21:13] #633 closed

[2020-10-30 21:14] feross commented on #633
We can just change our policy to not send PRs to projects which are failing the tests. It's a lot of work and I'd rather put that into maintaining `standard` anyways. :)

[2020-10-30 21:22] feross commented on #633
@standard/team – Please review this PR for a 16.0.1 release: https://github.com/standard/standard/pull/1586

[2020-10-30 22:37] mafintosh commented on #633
@feross sounds like a better trade off 👍👌. To clarify getting a PR for a no brainer fix like some of the white space changes in the past are super helpful. Ones with semver consequences for modules less so imo, just due to then being a lot of work

@LinusU Stuff like function scoping something inside a try-catch is neat with vars

[2020-10-31 03:01] feross commented on #633
Released as 16.0.1. Changelog: https://github.com/standard/standard/blob/master/CHANGELOG.md#1601---2020-10-30

[2020-10-31 03:03] feross commented on #1380
@wmhilton That seems like the right rule.

[2020-10-31 03:10] feross commented on #1464
It appears that ESLint has rejected the proposal to add an exception to this rule (https://github.com/eslint/eslint/issues/13299) so I'll close this issue now.

[2020-10-31 03:10] #1464 closed

[2020-10-31 03:11] feross commented on #1456
The test suite runs aren't available anymore so I can't really evaluate this issue. Please PR your improvements, if you're still interested in improving this.

[2020-10-31 03:11] #1456 closed

[2020-10-31 03:11] feross commented on #1447
This issue was fixed in `standard` 15.0.1. The rules no longer conflict anymore.

[2020-10-31 03:11] #1447 closed

[2020-10-31 03:14] feross commented on #1424
I shipped a rule in `standard` 16 which enforces ternary formatting. See: https://github.com/standard/standard/issues/1558

The two accepted styles are:

[code]

[2020-10-31 03:14] #1424 closed

[2020-10-31 03:17] feross commented on #1422
The amount of options in https://github.com/getify/eslint-plugin-proper-ternary is impressive, but I don't think we want to take on a whole additional ESLint plugin for this when we already have `multiline-ternary` enabled as of `standard` 16: https://github.com/standard/standard/issues/1558

It seems like the plugin mainly helps with deciding when/where ternaries can be used?

Closing this since

[2020-10-31 03:17] #1422 closed

[2020-10-31 03:18] feross commented on #1390
The issue @theimpostor linked #1384 has been fixed in `standard` 16.

@auggod @theimpostor Can you confirm if this issue is fixed for you?

[2020-10-31 03:18] #1390 closed

[2020-10-31 03:21] feross commented on #1252
Can someone test this out in `standard` 16? We're using ESLint a bit more directly (with fewer layers in between) so there's a (slim) chance that this bug has fixed itself.

[2020-10-31 03:22] feross commented on #911
This is no longer an issue. I just tested on the latest `standard` 16 and it appears to have been fixed!

[2020-10-31 03:22] #911 closed

[2020-10-31 03:23] feross commented on #747
Writing this as @LinusU demonstrated in his comment is the recommended style so I will close this issue now.

[2020-10-31 03:23] #747 closed

[2020-10-31 03:27] feross commented on #1458
I agree that this is a bug. This is how it should be formatted (removed the typescript types):

[code]

[2020-10-31 03:43] feross commented on #1458
Hmm, this seems to be caused by the way the `react/jsx-curly-newline` rule works. Essentially, because the arrow function starts immediately after the open brace of of the JSX attribute (e.g. `onDelete={() =>`) the rule sees it as a single-line attribute and expects the closing brace to be on the same line when the arrow function ends.

This may be a bug in the rule. Or perhaps a new option could

[2020-10-31 04:28] feross commented on #922
There are actually quite a lot of nice rules in this plugin! Here are the ones that stood out as possibly being interested to `standard`:

[better-regex](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/better-regex.md) - Improve regexes by making them shorter, consistent, and safer. (fixable)
[consistent-function-scoping](https://github.com/sindresorhus/eslint-plugin-u

[2020-10-31 04:33] feross commented on #1389
I can't reproduce this issue anymore on `standard` 16 so it appears to have been fixed.

Specifically, it appears to have been fixed in `standard` 14.

[code]

returns nothing

[2020-10-31 04:33] #1389 closed

[2020-10-31 04:37] feross commented on #1584
Thanks for sharing this error report, @dziku86. I was able to reproduce this issue. It happens when there's no `package.json` file present in the current folder, or in any parent folder.

[2020-10-31 04:42] #1584 closed

[2020-10-31 04:43] feross commented on #1584
Fixed in `standard-engine` 14.0.1. You can resolve this issue by reinstalling `standard`. To confirm you have the fixed version, you can run `npm ls standard-engine` and verify that you see only 14.0.1 or greater in the output.

[2020-10-31 05:00] feross commented on #1431
In general, we try to avoid rules that have "magic numbers" in them since they may be hard to remember and we always want it to be possible to write code that passes `standard` without needing to rely on auto-fixing or a text editor with built-in support.

But I agree that some of the examples you posted are egregious. I just don't think we'd be able to enforce this without a lot of false positive

[2020-10-31 05:02] feross commented on #1438
This is fixed in `standard` 16 because we removed the `deglob` package.

[2020-10-31 05:02] feross commented on #1438
See: https://github.com/standard/standard-engine/pull/228

[2020-10-31 05:05] feross commented on #1441
I think we attempted to include this rule before but ran into all kinds of problems with people's wacky webpack setups. In general, misspelling a file name leads to a pretty immediate runtime exception so I don' think we gain too much by having this as a rule. But perhaps the rule has gotten better?

I assume these are the rules in question?

https://github.com/mysticatea/eslint-plugin-node/blob/m

[2020-10-31 05:10] feross commented on #1457
Shipped this in `standard` 16. Thanks for the suggestion, @mightyiam!

[2020-10-31 05:11] feross commented on #903
I like this idea, but not sure what it would take to add support. If someone has the free time to investigate and report back here, I'm happy to consider this for a future major version of `standard`.

[2020-10-31 05:18] feross commented on #1476
I'd prefer not to extract it since it makes changing it harder. The guts of `standard` are already spread across so many repos as it is! How about just copying the file into the typescript config project? The file doesn't change that much so it's fine if we manually sync up the improvements to the file once in a while.

[2020-10-31 05:18] #1476 closed

[2020-10-31 05:18] #1479 closed

[2020-10-31 05:18] feross commented on #1479
It's not possible to debug this issue without additional information. If this is still an issue, please leave a comment or open a new issue.

[2020-10-31 05:19] feross commented on #1480
Fixed in `standard` 15.0.1.

[2020-10-31 05:19] #1480 closed

[2020-10-31 05:20] feross commented on #1521
Fixed in `standard` 15.0.1.

[2020-10-31 05:20] #1521 closed

[2020-10-31 07:52] toddbluhm commented on #1585
I made it by default print the eslint rule in `ts-standard`, so I am 100% for it as well.

[2020-10-31 09:07] Raynos commented on #1585
:+1: approved.

[2020-10-31 09:12] Raynos commented on #1324
@feross I've enabled 2FA but i cannot see the npm organization invite.

[2020-10-31 09:12] dziku86 commented on #1584
Thank you.

[2020-10-31 10:34] mcollina commented on #1431
I think the following is still readable:

`Object.keys(obj).map((a) => a.prop).reduce(fn)`

I feel 2 might be a bit too restrictive.

I think we can start adding it with a higher number (maybe 10?) we can agree to be always problematic. I've seen this abused by some teams.

[2020-10-31 11:46] Raynos commented on #1431
Consider the number you use for function parameters ( https://eslint.org/docs/rules/max-params ).

ESLint says 4 function parameters in a method or function is too much.

Making 4 statements too many seems reasonable.

I do notice that `standard` has no opinion on `max-params` so it might also make sense for it to have no opinion on `max-statements-per-line`.

[2020-10-31 14:32] sonicdoe commented on #633
I really like that `standard` v16.0.0 enabled no-var. I understand that this change may be cumbersome to implement but, at the same time, new projects didn’t benefit from this long-planned change and accrued additional debt. Furthermore, existing projects who would have liked to adopt this rule early on were being held back.

I’m questioning whether v16.0.1’s warnings will actually help. Warnings

[2020-10-31 16:31] bcomnes commented on #1585
I'm never finding myself not wanting to know the rule. +1

[2020-10-31 19:13] carloscuesta commented on #1585
I would love this too. It's much more easier to see what rule you're breaking and the reasoning behind it

[2020-11-01 20:28] kemitchell commented on #903
https://www.npmjs.com/package/eslint-plugin-json

[2020-11-02 14:22] LinusU commented on #1585
💯% for this 👍

[2020-11-02 14:25] LinusU commented on #1431
Personally leaning against this because of the "magic number" argument

[2020-11-02 20:27] feross commented on #1585
Thanks for all the feedback. This is accepted for `standard` 17 now.

[2020-11-02 23:07] feross commented on #1505
Fixed by https://github.com/standard/standard/pull/1506

[2020-11-02 23:07] #1505 closed

[2020-11-02 23:35] feross commented on #1511
This issue has been fixed in `standard` 15.0.1.

[2020-11-02 23:35] #1511 closed

[2020-11-02 23:45] feross commented on #1354
This seems like a potential candidate rule for `standard` 17. I expect we'd want to enable it as a "warning" for a full major version, becoming an error in 18. It's automatically fixable.

[2020-11-02 23:45] feross commented on #1354
@standard/team Any feedback about this? @mcollina Any known performance issues related to this language feature?

[2020-11-03 00:11] feross commented on #1517
Sorting imports is an interesting suggestion which is already being discussed here: https://github.com/standard/standard/issues/1490

I think the suggested plugin has one big shortcoming:

Part of the `standard` philosophy is that you should be able to write code that passes `standard` without using the tooling -- so a rule that is literally "run autofix to fix this" is not going to fly.

Let's mo

[2020-11-03 00:11] #1517 closed

[2020-11-03 00:15] mcollina commented on #1354
This is great to land, +1.

[2020-11-03 00:16] feross commented on #1522
@jfoclpf yep, feel free to copy from the eslint docs where it's helpful

[2020-11-03 00:17] feross commented on #1526
Fixed in `standard` 16

[2020-11-03 00:48] grsharp6 commented on #1517
Thank you for the update and for the help with all of this it's really
getting to be a good thing to be able to make sense of but I don't know
exactly how much I can honestly say I am going to be able to use.and feel
free to use what ever and readjust if needed

grsharp6@gmail.com

On Mon, Nov 2, 2020, 6:12 PM Feross Aboukhadijeh <notifications@github.com>
wrote:

[2020-11-03 05:01] dl90 opened #1587 "Parsing: Numeric Separators"
**What version of this package are you using?**
standard@14.3.4

**What problem do you want to solve?**
Allow numeric separators (https://v8.dev/features/numeric-separators).

<img width="526" alt="Screen Shot 2020-11-02 at 8 56 08 PM" src="https://user-images.githubusercontent.com/48544754/97951094-e1a05300-1d4d-11eb-90e2-57f82b16d951.png">

**What do you think is the correct solution to this pro

[2020-11-03 07:39] dmitryverkhovtsev commented on #1413
_"The rule does not disallow all use of the RegExp constructor. It should be still used for
dynamically generated regular expressions"_
Sad.
I use RegExp for dynamic regexes.

1% ecosystem impact - that's a main criteria for adding new "rule" ?

[2020-11-03 18:35] feross commented on #1413
The RegExp constructor is still allowed for dynamic regexes. But if there's nothing dynamic in your regex, then you should use the regex literal syntax, e.g. `/abc/`.

@dmitryverkhovtsev What code were you trying to write that failed with this rule?

[2020-11-03 19:06] feross commented on #1587
Please update to standard 16.

[2020-11-03 19:06] #1587 closed

[2020-11-04 02:05] #1440 closed

[2020-11-04 09:09] feross commented on #1440
I wish there was some way to reliably detect when we’re linting a script vs. a module. Last I checked it’s not easy. In standard we assume every file is a module (implied strict mode) so anything that would be a parse error due to strict mode causes standard to emit an error. But if you want the runtime benefits of “use strict” then you still need to include it.

If ESLint makes this easier, I'm h

[2020-11-04 13:08] LinusU commented on #419
[code]

Seems like not using `cb` here was unintended though? If the task functions are supposed to call that function when they are done 🤔, and I'm not really sure what information is being lost by removing them 🤔

Would be interesting to look at all the breakage to see some examples, will try and get some time for that!

[2020-11-04 13:12] LinusU commented on #891
@feross your example is using `var` (instead of `let`) which creates a function scoped variable which is why I believe that it's flagged as an error. Changing it to `const` (or `let`) make the snippet pass Standard style.

I'm personally not 100% sure that it's bad to have a variable named the same in a more narrower scope though 🤔

[2020-11-04 16:34] CraigCottingham opened #1588 "eslint-plugin-typescript is specifically required"
**What version of this package are you using?**
16.0.1

**What operating system, Node.js, and npm version?**
macOS 10.15.7, node 12.13.0, npm 6.14.8. yarn 1.19.1

**What happened?**

`yarn standard "**/*.ts"` errors out with `Error: Failed to load plugin 'typescript' declared in 'CLIOptions': Cannot find module 'eslint-plugin-typescript'`.

When I install `eslint-plugin-typescript` (with `yarn add

[2020-11-04 20:00] feross opened #1589 "Looking for a maintainer for the VSCode extension!"
The [VSCode extension](https://marketplace.visualstudio.com/items?itemName=chenxsan.vscode-standardjs) has 300k+ users on VSCode – your work will have a huge impact!

Please see: https://github.com/standard/vscode-standardjs/issues/131

[2020-11-04 20:32] feross commented on #891
Yeah, I think it's fine to "shadow" variables (which is what `const` or `let` lets you do in this context).

[2020-11-04 20:35] feross commented on #1588
It seems like you've declared that you wish to use `eslint-plugin-typescript` in your `package.json`. Can you check for a "standard" key in `package.json` and see if you have a `plugins: ["eslint-plugin-typescript"]` option set?

If you change that to `@typescript-eslint/eslint-plugin` then it should work when you install `@typescript-eslint/eslint-plugin`.

Also – you may wish to look at https://

[2020-11-04 20:35] #1588 closed

[2020-11-04 20:36] feross opened #1590 "Mention `ts-standard` in the docs"
I don't believe we're mentioning `ts-standard` in the docs. Isn't that the easiest way to use `standard` with TypeScript at the moment. Can someone – @toddbluhm @mightyiam – confirm this?

If so, can you please send a PR to update the TypeScript instructions in README.md.

[2020-11-05 13:24] dmitryverkhovtsev commented on #1413
@feross
I use RegExp constructor with template strings for urls matching
e.g RegExp(`/path/to/${resource}?search=query`)

[2020-11-05 13:26] LinusU commented on #1413
@dmitryverkhovtsev this rule is not supposed to error for that. See the examples here: https://eslint.org/docs/rules/prefer-regex-literals

[2020-11-05 13:26] LinusU commented on #1413
side note: be careful that `resource` doesn't contain any regex special characters, and consider adding escaping to it

[2020-11-05 14:00] LinusU commented on #1590
`ts-standard` is definitely the way to go for TypeScript + Standard currently 👍

[2020-11-05 21:05] feross commented on #1413
Indeed, the example you pasted is not considered an error by this rule.

[2020-11-05 21:43] #1550 closed

[2020-11-09 04:29] dcousens commented on #419
I understand the ecosystem impact is the blocker,  but,  `_` signals the difference between "forgotten to use" and "intentionally omitted"

[2020-11-09 22:16] ungoldman commented on #1431
👍 feels like an overreach to me fwiw

[2020-11-10 01:44] toddbluhm commented on #1590
Yeah, agreed. I will update the docs, create new PR, and link it to this issue sometime this week.

[2020-11-10 01:47] toddbluhm commented on #1590
Oh, before I go ahead and update the docs, do we want to move `ts-standard` to the `standard` org? @feross

[2020-11-10 02:07] feross commented on #1590
@toddbluhm Sure! It seems like the best way to do `standard` + `typescript` :) Happy to bless it :)

[2020-11-10 02:33] feross commented on #1324
@Raynos I just sent you a fresh npm org invite.

If this happened for anyone else, please let me know and I can re-send it.

[2020-11-10 02:40] feross commented on #633
I agree that this is true. Still, it's hard to spread the word to the community effectively and having a transition period where it's only a warning seems to nicely solve this problem and help spread the load of porting code over a longer period of time, as @mcollina mentioned. It's hard to come up with a perfect solution. There are only different tradeoffs to be made.

[2020-11-10 02:53] feross commented on #903
@kemitchell Looks like that's worth a try. Thanks for sharing.

[2020-11-10 03:03] feross commented on #1322
@voxpelli I just noticed your comment here: https://github.com/standard/eslint-config-standard/pull/148#issuecomment-637461888 Is your latest opinion that this shouldn't be merged as-is because of the false positives?

[2020-11-10 03:18] feross commented on #1500
@cyrilchapon Thanks for your issue! I sympathize with your situation and providing a way to customize *just the plugin rules* seems like a reasonable compromise. However, given that we have `standardx` I don't think that an option like this belongs in `standard` itself.

[2020-11-10 03:18] #1500 closed

[2020-11-10 03:23] feross commented on #1536
@JeffSpies Just wanted to say that we've merged the `ts-standard` VSCode support PR and released a new version now :)

As to the original suggestion of merging `standardx` into `standard`, I agree that maintaining all these variants is too time-consuming. Is it possible that `standardx` should never have been released? What's the advantage of a middle-ground between `standard` and just ejecting ou

[2020-11-10 03:44] feross commented on #1564
@s100 Right now the reason that it's formatted this way is because of the `offsetTernaryExpressions` rule which we enabled in `standard` 15. See: https://github.com/standard/standard/issues/927

I think that ideally, we'd make an exception to this rule when an expression wrapped in parens appears as the value in the ternary expression, as it does in your example. In that case, I think indenting as

[2020-11-10 03:48] feross commented on #927
From https://github.com/standard/standard/issues/1564#issuecomment-718567370 there is one downside of this rule. Standard doesn't like this code:

[code]

Instead it wants:

[code]

I think that ideally, we'd make an exception to this rule when an expression wrapped in parens or an array or object appears as the value in the ternary. In this case, we don't want the closing paren/bracket/brace to a

[2020-11-10 03:50] feross commented on #1283
Opened an issue for this here: https://github.com/standard/standard/issues/1590

[2020-11-10 04:08] toddbluhm commented on #1324
@feross can I get an invite so I can publish `ts-standard` under the org?

[2020-11-10 04:15] feross commented on #1535
I agree that this is a bit prescriptive, but this doesn't seem like a common issue so it seems like a perfect use case for using a disable comment as explained here: https://standardjs.com/#how-do-i-disable-a-rule

How many others have run into this issue?

[2020-11-10 04:22] feross commented on #1541
@thclark So if I understand this correctly – by adding the `.pre-commit-config.yaml` to the repo then users can use `pre-commit` by just specifying https://github.com/standard/standard ?

Happy to merge this if you (or someone else) send a PR and add instructions to the README under the "git commit hook" section for how to use this. You'd probably want to keep the existing option and add this as a

[2020-11-10 04:47] kemitchell commented on #903
@feross Didn't mean to just chuck a low-effort link at you. If there's something here that needs a push, let me know. I brought this up, so it's mine until someone else wants it.

[2020-11-10 05:52] toddbluhm commented on #1590
@feross the transfer is complete https://github.com/standard/ts-standard. If I could get admin/owner access to it so I can finish setting up the coverage/dependency stuff that would be great 😄 Speaking of which do we have a standard coverage/dependency solution we want to use across projects?

[2020-11-10 06:23] toddbluhm commented on #1283
`ts-standard` is now officially part of the `standard` github organization.

https://github.com/standard/ts-standard

[2020-11-10 09:03] thclark commented on #1541
@feross PR with the requisite documentation in #1596

[2020-11-10 09:24] Raynos commented on #1324
Thanks you.

[2020-11-10 09:28] Raynos commented on #1536
@feross

The main advantages of `standardx` are

 - Install one top level dependency. ( eslint requires many top level dependencies because of plugins and configs and so much bullshit )
 - No extra files in my project, just a single `standardx` key in my package.json
 - I can `npm install standard@latest` to get new rules, there's no way of getting new rules if I ejected to a 100 line `.eslintrc`;

[2020-11-10 15:25] sheerun commented on #1564
To be honest I think the best solution is to leave in standard config just linting rules, and use prettierx for formatting in `standard`, just like my prettier-standard package... otherwise it'll be never ending story of slight whitespace mismatches https://github.com/sheerun/prettier-standard

[2020-11-10 22:57] feross commented on #1590
Yep – we use Dependabot since it's built in to GitHub and does the job. It's currently only enabled on the `standard/standard` repo. I'd like to expand this to other repos.

I'm slightly negative on test coverage. For most `standard` repos which consist of sets of eslint rules, it's low value. If you want to enable it on `ts-standard`, go for it.

Just made you admin on `ts-standard`.

[2020-11-10 23:21] feross commented on #1283
Since `ts-standard` is now the official recommendation, I'll close this issue.

https://github.com/standard/ts-standard

[2020-11-10 23:21] #1283 closed

[2020-11-10 23:25] feross commented on #1541
@thclark Thanks, left feedback on that PR

[2020-11-10 23:26] feross commented on #1324
@toddbluhm Just sent you an invite. Please ensure you have 2FA enabled on your npm account before accepting the invite – thanks!

[2020-11-10 23:28] feross commented on #1324
@toddbluhm Can you add `ts-standard` to the `standardjs` organization by using the "Add package" button on the page here: https://www.npmjs.com/settings/standardjs/packages

[2020-11-11 10:32] Kjaer commented on #1414
Whoever dropped this issue later,

I've got problem on this because I am using redux and order of arguments matter on reducers,

this is very common reducer I am using currently and violation of the `default-param-last` rule
[code]

in order to disable only `default-param-last` but apply the rest set of rule. I am using eslint's `overrides`

this example from my `.eslintrc.json`

[code]

[2020-11-11 13:14] Divlo commented on #1007
We should close this issue since `ts-standard` is now a thing.

[2020-11-11 18:09] uniqname commented on #1414
I agree with @Kjaer that this flies in the face of many accepted patterns. This was a bad call. Having default values indicates more than just optionality. It is also a signal to developers and tooling of the expected type. It assumes too much that an argument with a default value is simply optional. I strongly urge that this be removed as part of Standardjs.

[2020-11-11 19:26] feross commented on #1414
@Kjaer How do you call the reducer? Can you share some examples? Am I correct in assuming that you should always call it with two arguments? In which case, why are you using a default argument?

Which tooling works this way?

[2020-11-11 19:53] #1541 closed

[2020-11-11 20:03] feross commented on #1007
This issue has morphed from discussion of adding `eslint-config-standard-with-typescript` to the @standard org (which is done) to discussion of how to build in TypeScript support directly into `standard`. I suppose that `ts-standard` removes the pressing need for this by providing a nice happy path for TS users, so we could close this and end discussion of adding TS support directly into `standard

[2020-11-12 00:47] #1357 closed

[2020-11-12 05:19] toddbluhm commented on #1324
@feross I accepted the org invite, but I do not have an "Add package"/"Add existing package" button. Can I add you as a maintainer to `ts-standard` and maybe you can transfer it that way? Or you can try making me a temporary admin and I can see if the button shows up then. However, you want to handle this 😄

If others have a suggestion I am certainly open to that as well.

[2020-11-12 05:47] feross commented on #1324
@toddbluhm You're now an admin. Can you give it another try on that page and see if the "add package" button shows up.

[2020-11-12 05:47] toddbluhm commented on #1590
@feross Great! I was using Dependabot as well. I thought making me an admin would enable me to add Dependabot, but apparently, that is at an org level. If you could enable Dependabot for `ts-standard` that would be great. It should be all set up and ready good, just needs to be enabled.

For code coverage, I was using coveralls.io. No opinion either way, just what I happened to be using. I think y

[2020-11-12 05:53] toddbluhm commented on #1324
@feross it worked! `ts-standard` is moved over and is now owned by the org/team. I now only have access to it through the standardjs team. Feel free to put me back to `member` permissions.

[2020-11-12 15:52] Kjaer commented on #1414
@feross unfortunately it's not about how I call reducers, It's about how Redux as a lib wants me write the reducers.
My issue started to happen when I tried to combine reducers

https://redux.js.org/api/combinereducers#reducerstodosjs

You can check Redux's combineReducers test in order to confirm the order of arguments matter

https://github.com/reduxjs/redux/blob/master/test/combineReducers.spec

[2020-11-13 03:02] feross commented on #1414
Oh totally, I understand that the order of arguments will matter to Redux. My question was would you ever invoke a reducer without any arguments, because this is the only circumstance in which the first default argument would take effect.

For example, you could take this:

[code]

And you could rewrite it as:

[code]

There's no need to re-order the arguments. You can just remove the default argu

[2020-11-13 23:36] feross commented on #1324
@toddbluhm Thanks for completing the transfer!

[2020-11-14 15:53] sonicdoe commented on #633
As a suggestion, `standard` could offer a strict mode to opt in to future errors (similar to [JavaScript’s](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode) or [React’s](https://reactjs.org/docs/strict-mode.html)). This way, new projects and existing projects which have resolved all warnings could already enforce these future errors.

[2020-11-15 16:51] audinue opened #1599 "Absolute Path Bug?"
**What version of this package are you using?**
16.0.2 (Maybe. Taken from [https://standardjs.com/changelog.html](https://standardjs.com/changelog.html))

I use standard [demo](https://standardjs.com/demo.html).

**What operating system, Node.js, and npm version?**
Slax 9. Google Chrome 86.0.4240.75

**What happened?**
[code]
Standard warned *1:21 - Do not import modules using an absolute path (im

[2020-11-16 11:14] LinusU commented on #1599
A bit off topic, but I think that using schema-less URLs is an anti pattern these, days. See the updated blog post here: https://www.paulirish.com/2010/the-protocol-relative-url/

[2020-11-17 03:49] feross commented on #633
@sonicdoe This is an interesting suggestion. Can you open a separate issue with this suggestion so it can be discussed separately?

[2020-11-17 04:59] feross opened #1601 "Recommend @babel/eslint-parser instead of babel-eslint"
Per https://github.com/eslint/eslint/issues/13542#issuecomment-667437352, it's now recommended to use `@babel/eslint-parser` instead of `babel-eslint`.

Can someone send a PR to update the docs in `README.md`? Also, don't forget to update the translations in `docs/`!

EDIT: More information here: https://babeljs.io/blog/2020/07/13/the-state-of-babel-eslint

[2020-11-17 09:34] jankapunkt opened #1602 "Unlock #556"
The conversation of #556 is locked, however I think nowadays this has a [valid use case](https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_omit) and widely adopted.  Please unlock #556 for discussion (as stated in the last comment there).

[2020-11-17 13:45] falmar commented on #1414
When redux initializes it does call all reducers without a state...

It's common to [create reducers](https://redux.js.org/recipes/structuring-reducers/initializing-state/#single-simple-reducer) with initial state as `(state = initialState, action)` without an initial state, it does results in an error

When using [Duck Bundles](https://github.com/erikras/ducks-modular-redux)

Redux's `createStore

[2020-11-17 14:02] sQVe commented on #1414
My opinion is that this rule is way too opinionated to be set as a default. I just ran it against a Redux based project and got around 200 errors.

There's just too many cases where you'd like to set defaults to a parameter at the head like:
[code]
Adding `undefined` as a default to `options` here just feels off.

[2020-11-17 17:22] sonicdoe opened #1603 "Strict mode to enforce future rules"
[`standard` v16.0.1](https://github.com/standard/standard/blob/5937e954bc143af521e7dc5e461e67649fcae767/CHANGELOG.md#1601---2020-10-30) introduced a warning system. In particular, the [no-var](https://eslint.org/docs/rules/no-var) rule is now just a warning and will only become an error after the transition period ends. To enable projects to already enforce this future change, `standard` could off

[2020-11-17 17:22] sonicdoe commented on #633
Of course, I’ve opened https://github.com/standard/standard/issues/1603.

[2020-11-17 18:17] ungoldman commented on #1603
I'm not against it if it doesn't involve maintaining a lot of additional code -- not sure what the implications are of swapping transitional rules from a warning level to an error level. I think `standard --strict` would be easy to use on the CLI.

[2020-11-17 22:48] feross commented on #1590
@toddbluhm Dependabot is enabled:

<img width="957" alt="Screen Shot 2020-11-17 at 12 45 48 PM" src="https://user-images.githubusercontent.com/121766/99459862-9e181e00-28e3-11eb-9397-c3ca8f34126f.png">

I also just enabled the coveralls GitHub App on `ts-standard`.

[2020-11-17 22:50] feross commented on #1602
Sure thing. Done.

[2020-11-17 22:50] #1602 closed

[2020-11-17 23:12] feross commented on #1414
I'm now leaning toward disabling this rule. @standard/team Do you have any feedback before I do that?

[2020-11-17 23:38] ungoldman commented on #1414
As it's not a syntax error or a major stylistic problem, it seems arbitrary, so I would lean strongly towards disabling.

[2020-11-17 23:54] mcollina commented on #1414
I am in agreement with @feross, +1 to disable.

[2020-11-18 00:43] mixmix commented on #1414
Keen to disable - this rule doesn't currently work well with callback style functions:

[code]

[2020-11-18 01:56] feross commented on #1414
Released as 16.0.3.

[2020-11-18 01:56] #1414 closed

[2020-11-18 05:52] jankapunkt commented on #556
So I am commenting to bump this topic up.

First, this has become a common use case. For example, this can be used to replace underscore/lodash omit function with builtin ES6 features: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_omit

There is also support in eslint: https://eslint.org/docs/rules/no-unused-vars#ignorerestsiblings

[2020-11-18 14:45] jankapunkt commented on #1601
Did you get it running without errors? I tried to use `@babel/eslint-parser` and it threw the following error for every file in the project:

[code]

[2020-11-18 21:24] feross opened #1606 "Use `hallmark` to lint/generate the changelog"
Based on discussion with @vweevers, we can use `hallmark` to lint/generate the changelog.

_Originally posted by @feross in https://github.com/standard/standard/issues/1600#issuecomment-728689497_

[2020-11-18 21:36] vweevers commented on #1606
I'll make some time for this tomorrow or friday. It's a matter of running `npx hallmark lint CHANGELOG.md` and fixing the warnings that it prints. Some can be fixed automatically with `npx hallmark fix CHANGELOG.md`. Much like standard except that `hallmark` doesn't have good documentation of rules yet, so that's the only blocker I foresee if someone else wants to tackle this.

[2020-11-18 22:39] feross commented on #1601
Yes, I just upgraded https://github.com/webtorrent/webtorrent-desktop to use `@babel/eslint-parser` and it worked flawlessly. See: https://github.com/webtorrent/webtorrent-desktop/commit/958814f2ead81277f92126f745d98c8952280335

[2020-11-19 16:09] voxpelli commented on #419
What TypeScript does when one has set [`noUnusedParameters`](https://www.typescriptlang.org/tsconfig#noUnusedParameters) there is exactly what @dcousens suggest here, adding a `"argsIgnorePattern": "^_"`, but then also add an `"args": "all"` to actually ensure that one hasn't forgotten to use any other arguments either

[2020-11-19 16:22] voxpelli commented on #1316
Posted a request to deprecate `eslint-plugin-standard` as a follow up to this thread: https://github.com/standard/eslint-plugin-standard/issues/38

[2020-11-19 16:32] jankapunkt commented on #1601
Okay I get it running now, I missed to install `@babel/core` and also had to add a `"babel": {}` entry in the `package.json`, however, I still don't get the [additional parser options for this parser](https://github.com/babel/babel/tree/main/eslint/babel-eslint-parser#additional-parser-configuration) being applied:

[code]

When running `standard` it ignores the `parserOptions` and gives me `'impo

[2020-11-21 22:24] Arcanorum opened #1609 "Rename the project. Calling it "Standard" is just pretentious..."
Every lint rule project aims to be a "standard" of sorts. Going so far as to pass yourself off as something pseudo-official is just misleading.

That is all.

[2020-11-23 01:05] feross commented on #1316
@voxpelli I agree. Just released `eslint-plugin-standard` 5.0.0 and deprecated it.

[2020-11-23 01:11] feross commented on #1601
We don't support `parserOptions` in `standard-engine`. I think you might want to just use `eslint-config-standard` directly since we don't plan to expose `parserOptions` from `standard`.